<navigation></navigation>
<section class="breadcrumb-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb-text">
          <h2>About Us</h2>
          <div class="breadcrumb-option">
            <a href="#"><i class="fa fa-home"></i> Home</a>
            <span>About Us</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="about-section spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title">
          <span>About Us</span>
          <h2>Welcome to OwnerTenants<span>.</span></h2>
          <p style="font-size: 14px; line-height: 22px; margin-bottom:12px;">There is no other better solution where you
            can rent out a property in getting each and every details about
            the property in a single place you can also advertise your property as an owner for free.</p>
          <p style="font-size: 14px; line-height: 22px; margin-bottom:12px;">OwnerTenants is low cost and also
            successful at the same time. Great way of finding and booking rented
            house can save lots of money. This is not only easy but also cost efficient.</p>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="about-text">
              <h4>ABOUT US</h4>
              <p style="font-size: 14px; line-height: 22px; margin-bottom:12px;">
                <span style="text-decoration: underline; color:blue">ownertenants.com</span> is a hybrid
                marketplace(online & offline) which bridge the gap between both the parties owners & tenants for a
                satisfying rental experience without any broker involved .There is a problem in searching rental house
                which requires time,energy,efforts & expensive uneven brokerage charges leads to discomfort &
                dissatisfaction to both owners & Tenants.
              </p>
              <p style="font-size: 14px; line-height: 22px; margin-bottom:12px;">Company is founded by renowned
                experienced IT professional Mr.Avinash Pandey with more than 17 Years of
                experience in software development & worked extensively across geographies for many domestic &
                international clients backed with proven Sales & Marketing professionals. Strong existing relations with
                Large corporates/SME’S & Government establishments makes it reliable for House Owners for getting them
                right fit Tenants of their choices. OWNERTENANTS started because we believe that due to our busy &
                exhaustive work load we don’t do justice in searching appropriate rental house for ourselves & many
                times we pay hefty brokerage to find a new home. As tenants, we have been paying these brokerages
                without seeing any significant benefits of the broker. Ownertenants is a platform that connects both the
                parties seamlessly & act as a hybrid marketplace that used to cost heavy brokerage charges. </p>
              <p style="font-size: 14px; line-height: 22px; margin-bottom:12px; font-weight: bold;">We have done 2 things to help you find
                that perfect home: </p>
              <ol style="margin-left: 25px;font-size: 14px;
              color: #707079;">
                <li>
                  We are bringing highest & best choice for properties.
                </li>
                <li>Provide you with all possible relevant information needed to shortlist & rent any properties. </li>
              </ol>
            </div>
            <p style="font-size: 14px; line-height: 22px; margin-bottom:12px; margin-top: 10px;">Most cost efficient as we don’t charge
              any brokerage from house owners & Tenants. Our Expert Relationship
              Manager makes it easier & convenient for you to visit house. If you are a landlord/House owner interested
              in posting your apartments to ownertenants.com, please email us at <span
                style="text-decoration: underline; color: blue;">support@ownertenants.com</span>  and we will
              get in touch to help you list the property. And tenants, happy hunting and get in touch with us to let us
              know how else we can help!</p>
          </div>
          <div class="col-lg-6">
            <div class="about-text">
              <h4>OUR VISION</h4>
              <p style="font-size: 14px; line-height: 22px; margin-bottom:12px;">To establish as most reliable rental
                search platform across the globe.
              </p>
            </div>
            <div class="about-text">
              <h4>OUR MISSION</h4>
              <p style="font-size: 14px; line-height: 22px; margin-bottom:12px;">To facilitate our customers with
                highest choice of properties and act as true partner in their rental
                search journey & create value for our House owners & Tenants by reducing time, efforts, risk & cost on
                renting by unlocking superior Technologies.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="agent-section about-page spad">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-title">
            <span>We Are To Help You</span>
            <h2>About Organisation</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="agent-carousel owl-carousel owl-loaded owl-drag">
          <div class="owl-stage-outer">
            <div class="owl-stage">
              <div class="col-lg-4 owl-item cloned">

              </div>
              <div class=" col-lg-4 owl-item cloned">
                <div class="col-lg-3">
                  <div class="single-agent">
                    <div class="sa-pic">
                      <img src="./assets/img/ownertanenlogo.jpg" alt="">
                      <div class="hover-social">
                        <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                      </div>
                    </div>
                    <h5>Avinash Pandey <span>Founder</span></h5>
                  </div>
                </div>
              </div>
              <div class=" col-lg-4 owl-item cloned">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
<footer></footer>