.property-sidebar{
    padding: 10%;
}
.rangeStyle {
    width: 40%;
}

.about-section .about-text h4 {
    font-size: 22px;
    font-weight: 600;
    color: #19191a;
    line-height: 32px;
    margin-bottom: 15px;
    border-bottom: 2px solid#2cbdb8;
    font-style: italic;
}
