<section class="breadcrumb-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 style="text-align: center;">Terms & Conditions</h2>
        <hr>
        <p style="font-weight: 400; line-height: 1.5; color: #212529; font-size: 14px;">This service is provided by
          <span style="text-decoration: underline; color: blue;"> ownertenants.com</span> to help owners and tenant to find each other without paying any brokerage. To use and receive
          the Service (including access to this website and/or any mobile application, collectively "Site"), you must
          first accept and comply with the following terms and conditions (the "Terms of Use") and the terms of our
          Privacy Policy. The Site is owned, operated and managed by <span style="text-decoration: underline; color: blue;"> ownertenants.com</span> web platform of G.S.Scientific and
          wherever the Term ownertenants/We/Us/Our and similar expression is used it refers to <span style="text-decoration: underline; color: blue;"> ownertenants.com</span> web
          platform of G.S.Scientific, its officers, directors, employees and representatives as the case may be.</p>
        <ol style="padding-left: 25px;">

          <li>
            <h5 style="margin-bottom: 10px;">The Service We Provide:</h5>
            The Service is designed to provide Residents with a building-specific "Network" to interact with their
            neighbors and share their knowledge of the neighborhood. Subject to the provisions below, and to the terms
            of any agreement we may have with your building's owners or management or association, the following
            elements of the Service are available to Residents:
            <ul style="margin-left: 15px;">
              <li>
                <h5 style="margin: 10px 0px">Site Access:</h5>
                <p style="font-weight: 400; line-height: 1.5; color: #212529; font-size: 14px;">Please note that only
                  one
                  username and password should be created per user. Username is the
                  email_id/contact number provided by the user. We reserve the right to verify this information before
                  enabling an account. The account can be rejected or disenabled if it is found to be a broker account
                  or
                  for any other reason that <span style="text-decoration: underline; color: blue;"> ownertenants.com</span> finds suitable and which it is not liable to state or
                  justify.
                </p>
                <p style="font-weight: 400; line-height: 1.5; color: #212529; font-size: 14px;">
                  You are responsible for maintaining the confidentiality of your password and account, and are fully
                  responsible for any activities that occur under your password or account, with or without your
                  knowledge.
                  If you knowingly give your login and password information to another person, we may suspend or
                  terminate
                  your account, in addition to any other remedies available to us. You must immediately notify us if you
                  become aware of any unauthorized use of your password or account or any other breach of security. We
                  can
                  not be liable for any loss or damage arising from your failure to comply with this paragraph.</p>
              </li>
              <li>
                <h5 style="margin: 10px 0px">Registration Information:</h5>
                <p style="font-weight: 400; line-height: 1.5; color: #212529; font-size: 14px;">When you submit your
                  data
                  to register, we will require you to provide your house details, name, e-mail
                  address, contact number and a password of your choosing. As mentioned above, your e-mail
                  address/contact
                  number will be used as your username for login purposes.</p>
                <p style="font-weight: 400; line-height: 1.5; color: #212529; font-size: 14px;">Any registration
                  information you provide must be true, accurate, current and complete. We would be displaying this
                  information on the website for other users to access.</p>
                <p style="font-weight: 400; line-height: 1.5; color: #212529; font-size: 14px;">Please also note that we
                  may, but are not obligated to, use the information you provide to verify that you are actually an
                  owner
                  or a tenant and not a broker.</p>
              </li>
              <li>
                <h5 style="margin: 10px 0px">Profile Information:</h5>
                <p style="font-weight: 400; line-height: 1.5; color: #212529; font-size: 14px;">Your <span style="text-decoration: underline; color: blue;"> ownertenants.com</span>
                  profile may not include any of the following content: telephone numbers (except
                  where asked), any photographs containing nudity, profanity, or obscene, lewd, excessively violent,
                  harassing, sexually explicit or otherwise objectionable subject matter. Despite this prohibition, it
                  is
                  possible that information provided by other <span style="text-decoration: underline; color: blue;"> ownertenants.com</span> users (for instance, in their Profile)
                  may
                  contain inaccurate, inappropriate, offensive or sexually explicit material, products or services in
                  violation of these Terms of Use. <span style="text-decoration: underline; color: blue;"> ownertenants.com</span> does not assume any responsibility or liability for
                  this material. We encourage you, however, to help us keep the website clean by contacting us if you
                  notice any misuse of the Service.</p>
              </li>
              <li>
                <h5 style="margin: 10px 0px">Neighborhood Info:</h5>
                <p style="font-weight: 400; line-height: 1.5; color: #212529; font-size: 14px;">The Site contains Local
                  Info using 3rd party like Google Maps etc. <span style="text-decoration: underline; color: blue;"> ownertenants.com</span> cannot and does not
                  guarantee the accuracy, integrity or quality of any content provided by third party. In addition, your
                  interactions with businesses found on or through the Service, including payment and delivery of goods
                  or
                  services (including any food orders), and any other terms, conditions, warranties or representations
                  associated with such dealings, are solely between you and those businesses. In no event shall
                  <span style="text-decoration: underline; color: blue;"> ownertenants.com</span> be liable for any damages arising out of any interaction between you and such
                  parties.
                  The information provided on the Site is provided to you on an "AS IS, WHERE IS" basis.</p>
              </li>
              <li>
                <h5 style="margin: 10px 0px">Registration Assistance:</h5>
                <p style="font-weight: 400; line-height: 1.5; color: #212529; font-size: 14px;">
                  As part of our effort to make your home search broker free and easy, we would be happy to connect you
                  with 3rd party agents who facilitate leave and license registration. <span style="text-decoration: underline; color: blue;"> ownertenants.com</span> can charge for
                  this service. <span style="text-decoration: underline; color: blue;"> ownertenants.com</span> cannot and does not guarantee the integrity and quality of the service
                  provided by third party. In addition, your interaction with the third party service providers
                  including
                  payment and any such dealings are solely between you and those businesses. In no event shall
                  <span style="text-decoration: underline; color: blue;"> ownertenants.com</span>
                  be liable for any damages arising out of any interaction between you and such parties.
                </p>
              </li>
              <li>
                <h5 style="margin: 10px 0px"></h5>
                <p style="font-weight: 400; line-height: 1.5; color: #212529; font-size: 14px;">
                  As part of the Service, we may need to communicate with you via e-mail (see our Privacy Policy to
                  learn
                  more about communications). You agree to receive e-mails which are specific to your account and
                  necessary for the normal functioning of the Service, including one or more welcome e-mails which help
                  inform new users about various features of the Service.
                </p>
                <p style="font-weight: 400; line-height: 1.5; color: #212529; font-size: 14px;">
                  We may also send users occasional e-mail bulletins unless such users have opted not to receive these
                  e-mails. These e-mails may also contain neighborhood information, tips and suggestions or any other
                  offer provided by third party. <span style="text-decoration: underline; color: blue;"> ownertenants.com</span> does not take any responsibility of the validity of any of
                  these offers. You can anytime opt out of these emails by sending a mail to <span
                    style="text-decoration: underline; color: blue;"> support@ownertenants.com</span>.
                </p>
              </li>
              <li>
                <h5 style="margin: 10px 0px">Information for Prospective Tenants:</h5>
                <p style="font-weight: 400; line-height: 1.5; color: #212529; font-size: 14px;">
                  Because certain areas of the Site are designed to help prospective tenants discover new rental, you
                  may
                  browse some sections of the Site, even if you have not yet registered. However, you will not be able
                  to
                  contact the owner unless you have logged in as a tenant and paid the required charges.
                </p>
              </li>
            </ul>
          </li>

          <li>
            <h5 style="margin-bottom: 10px;">Your Information, Privacy Policy:</h5>
            <ul style="margin-left: 15px;">
              <li>
                <h5 style="margin: 10px 0px;">Privacy Policy:</h5>
                <p style="font-weight: 400; line-height: 1.5; color: #212529; font-size: 14px;">Our use of your
                  information is subject to the terms of our Privacy Policy. You must agree to the
                  Privacy Policy before you may access the Site.</p>
              </li>
              <li>
                <h5 style="margin: 10px 0px">Your Registration Information:</h5>
                <p style="font-weight: 400; line-height: 1.5; color: #212529; font-size: 14px;">
                  To provide you with access to the site, we will require you to provide the name and contact
                  information
                  described above, and may also request that you update or verify this information from time to time. By
                  using the Site, you agree to provide accurate information, and to cooperate with any <span style="text-decoration: underline; color: blue;"> ownertenants.com</span>
                  personnel.
                </p>
              </li>
              <li>
                <h5 style="margin: 10px 0px">Other Information You Provide: </h5>
                <p style="font-weight: 400; line-height: 1.5; color: #212529; font-size: 14px;"><span
                    style="font-weight: bold;">What You May Provide</span><br>
                  As described above, the Site contains information regarding your property if you are a landlord and
                  information about your requirement, if you are a tenant. You would also need to provide your accurate
                  contact information. Since this site does not allow brokers or agents to post or seek on the site, we
                  may need relevant information to verify that.
                </p>
                <p style="font-weight: 400; line-height: 1.5; color: #212529; font-size: 14px;"><span
                    style="font-weight: bold;">Grant of Rights to <span style="text-decoration: underline; color: blue;"> ownertenants.com</span></span><br>
                  We take the privacy of our users very seriously. However <span style="text-decoration: underline; color: blue;"> ownertenants.com</span> will have a right to use the
                  information to provide personalized advertisements and offers and to include that information in
                  compilations developed by <span style="text-decoration: underline; color: blue;"> ownertenants.com</span>.
                </p>
                <p style="font-weight: 400; line-height: 1.5; color: #212529; font-size: 14px;"><span
                    style="font-weight: bold;">Read Phone State</span><br>
                  Option 1 - This allows us to notify you via calls about houses available for rent. If you have put
                  your house up for rent you will get alerts about interested tenants.
                </p>
                <p style="font-weight: 400; line-height: 1.5; color: #212529; font-size: 14px;">
                  Options 2- Get alerts and calls when interested owners/tenants which to contact you. Never miss an
                  update.
                </p>
                <p style="font-weight: 400; line-height: 1.5; color: #212529; font-size: 14px;"><span
                    style="font-weight: bold;">Read Phone Contacts</span><br>
                  Get an alert when any of your phone contacts are renting out their house. </p>
                <p style="font-weight: 400; line-height: 1.5; color: #212529; font-size: 14px;"><span
                    style="font-weight: bold;">Read SMS</span><br>
                  This will be used to verify your phone number and to make owners/tenant contact seamless.</p>
                <p style="font-weight: 400; line-height: 1.5; color: #212529; font-size: 14px;"><span
                    style="font-weight: bold;">Detect Location</span><br>
                  Allows you to look for homes based on your current location.</p>
                <p style="font-weight: 400; line-height: 1.5; color: #212529; font-size: 14px;"><span
                    style="font-weight: bold;">Grant of rights to Our Finance Partners</span><br>
                  Not withstanding anything contained herein and in <span style="text-decoration: underline; color: blue;"> ownertenants.com</span> Privacy Policy, you hereby
                  authorise <span style="text-decoration: underline; color: blue;"> ownertenants.com</span> to share with our finance partners, any and all information that you may
                  provide in relation to this application for availing the products and/or service of our finance
                  partners.</p>
                <p style="font-weight: 400; line-height: 1.5; color: #212529; font-size: 14px;">
                  By clicking on "Apply Now/Submit" tab:<br>
                </p>
                <p style="font-weight: 400; line-height: 1.5; color: #212529; font-size: 14px;">
                  You agree and authorise our finance partners to contact you and communicate with you over emails,
                  telephonic calls, or SMS on the mobile number mentioned in the application, or through any other
                  communication mode ("Communication Modes") to verify the details provided by you in this application
                  or to process this application.</p>
                <p style="font-weight: 400; line-height: 1.5; color: #212529; font-size: 14px;">
                  You confirm that you would like to know through the above mentioned Communication Modes, offers and
                  promotion schemes relating to various products/services offered by our finance partners/its group
                  companies, from time to time.</p>
                <p style="font-weight: 400; line-height: 1.5; color: #212529; font-size: 14px;">
                  You further agree and confirm that laws in relation to the unsolicited communication referred to in
                  the "National Do Not Call Registry" (the "NDNC Registry") as laid down by the Telecom Regulatory
                  Authority of India will not be applicable for such communication/calls/ SMS received from our finance
                  partners, its group companies, employees, representatives and/or agents.</p>
                <p style="font-weight: 400; line-height: 1.5; color: #212529; font-size: 14px;">
                  You further agree and confirm that laws in relation to the unsolicited communication referred to in
                  the "National Do Not Call Registry" (the "NDNC Registry") as laid down by the Telecom Regulatory
                  Authority of India will not be applicable for such communication/calls/ SMS received from our finance
                  partners, its group companies, employees, representatives and/or agents.</p>
                <p style="font-weight: 400; line-height: 1.5; color: #212529; font-size: 14px;">
                  You authorize our finance partners to exchange and share all information and details, as provided by
                  you in this application, with third parties, including but not limited to our finance partners' group
                  companies, service providers, financial institutions, credit bureaus, telecommunication companies,
                  statutory bodies, etc., for customer verification, personalization of products or services, credit
                  rating, data enrichment, marketing or promotion of services or related products of our finance
                  partners or that of its associates and affiliates or for enforcement of your obligations and agree
                  that you shall not hold our finance partners (or any of its group companies or its/their
                  employees/agents/representatives) liable for using/sharing of the information as stated above.</p>
                <p style="font-weight: 400; line-height: 1.5; color: #212529; font-size: 14px;">
                  You understand and agree that pursuant to this application form, you will be required to submit
                  documents to the satisfaction of our finance partners and accept the loan terms and conditions as
                  prescribed by our finance partners in relation to products and/or service applied by you.</p>
                <p style="font-weight: 400; line-height: 1.5; color: #212529; font-size: 14px;">
                  I, as a subscriber/ User of the services offered through the web portal <span style="text-decoration: underline; color: blue;"> ownertenants.com</span>, do herby
                  expressly authorise <span style="text-decoration: underline; color: blue;"> ownertenants.com</span> and any of their business associates to call/ SMS my/our
                  registered phone numbers (as provided by me / us to <span style="text-decoration: underline; color: blue;"> ownertenants.com</span>). I hereby expressly state that
                  such authorisation shall override the national Do-Not-Disturb Registry ("DND"), even if the phone
                  numbers in question are registered under DND list of national Consumer preference registry (
                  NCPR/NDNC).
                  I/we also undertake that I/We will not make any complaints to NDNC for any calls received from
                  <span style="text-decoration: underline; color: blue;"> ownertenants.com</span> services/ products, and shall indemnify <span style="text-decoration: underline; color: blue;"> ownertenants.com</span> and any of its business
                  associates for having engaged in any such practice.
                  I realise, acknowledge and expressly authorize <span style="text-decoration: underline; color: blue;"> ownertenants.com</span> to make the initial communication (via
                  Call / SMS / E-mail/WhatsApp) for the purposes of confirmation of my credentials provided by me. I
                  hereby authorize <span style="text-decoration: underline; color: blue;"> ownertenants.com</span> and its business associates to continue contacting me via any of the
                  modes of communication listed above, till such time as I expressly opt-out / unsubscribe from the
                  service offered by <span style="text-decoration: underline; color: blue;"> ownertenants.com</span>. Till such time, <span style="text-decoration: underline; color: blue;"> ownertenants.com</span> and its business associates
                  shall have all rights to continue communicating with me and I shall completely indemnify them against
                  any liability that may arise as a result of such authorisation to communicate. Such indemnification
                  shall extend to court cases and suits and all lawyer / advocate fees, even if the dispute is never
                  subjected to judicial scrutiny.</p>
                <p style="font-weight: 400; line-height: 1.5; color: #212529; font-size: 14px;"><span
                    style="font-weight: bold;">Respect For Third Party Rights</span><br>
                  You may not use the Site to transmit or reproduce someone else's intellectual property. For example,
                  you may not use the property postings to post reviews from someone else's blog or travel guide,
                  because that could violate the author's or publisher's copyright rights. </p>
              </li>
            </ul>
          </li>
          <li>
            <h5 style="margin-bottom: 10px;">Prohibited Conduct:</h5>
            <ul style="margin-left: 15px;">
              <li>
                <h5 style="margin: 10px 0px">Prohibited Conduct:</h5>
                <p style="font-weight: 400; line-height: 1.5; color: #212529; font-size: 14px;">You represent and
                  warrant
                  that you shall not do any of the following via the Site or otherwise in connection with the Service:
                </p>
                <p style="font-weight: 400; line-height: 1.5; color: #212529; font-size: 14px;">Attempt or help anyone
                  else
                  attempt to gain unauthorized access to the <span style="text-decoration: underline; color: blue;"> ownertenants.com</span> or its related systems or networks
                  (including
                  without limitation the impersonation of another user or other use of a false identity or address to
                  gain
                  access to the site).
                </p>
                <p style="font-weight: 400; line-height: 1.5; color: #212529; font-size: 14px;">Use the Site to violate
                  the
                  intellectual property rights of any person (including without limitation posting pirated music or
                  computer
                  programs or links to such material on Site or in your Profile).
                </p>
                <p style="font-weight: 400; line-height: 1.5; color: #212529; font-size: 14px;">Send spam or otherwise
                  duplicative or unsolicited messages in violation of applicable laws.
                </p>
                <p style="font-weight: 400; line-height: 1.5; color: #212529; font-size: 14px;">Send or store
                  infringing,
                  obscene, threatening, libelous, or otherwise unlawful or tortious material, including material harmful
                  to
                  children or violative of third party privacy rights.
                </p>
                <p style="font-weight: 400; line-height: 1.5; color: #212529; font-size: 14px;">Send or store material
                  containing software viruses, worms, Trojan horses or other harmful computer code, files, scripts,
                  agents
                  or programs.
                </p>
                <p style="font-weight: 400; line-height: 1.5; color: #212529; font-size: 14px;">Interfere with or
                  disrupt
                  the integrity or performance of the Service or the data contained therein.
                </p>
                <p style="font-weight: 400; line-height: 1.5; color: #212529; font-size: 14px;">License, sublicense,
                  sell,
                  resell, transfer, assign, distribute or otherwise commercially exploit or make available to any third
                  party the Service or any content contained in or made available through the Service (the "Content") in
                  any
                  way.
                </p>
                <p style="font-weight: 400; line-height: 1.5; color: #212529; font-size: 14px;"> Modify or make
                  derivative
                  works based upon the Service or the Content.
                </p>
                <p style="font-weight: 400; line-height: 1.5; color: #212529; font-size: 14px;">Create Internet "links"
                  to
                  the Site or "frame" or "mirror" any Content on any other server or wireless or Internet-based device.
                </p>
                <p style="font-weight: 400; line-height: 1.5; color: #212529; font-size: 14px;">Reverse engineer or
                  access
                  the Service in order to (a) build a product competitive with the Service, (b) build a product using
                  ideas,
                  features, functions or graphics similar to those of the Service, or (c) copy any ideas, features,
                  functions or graphics contained in the Service.
                </p>
              </li>
              <li>
                <h5 style="margin: 10px 0px">Rights of <span style="text-decoration: underline; color: blue;"> ownertenants.com</span>:</h5>
                <p style="font-weight: 400; line-height: 1.5; color: #212529; font-size: 14px;"><span style="text-decoration: underline; color: blue;"> ownertenants.com</span> shall
                  have the right to immediately suspend or terminate your access to the Service for any actual or
                  suspected violation of these Terms of Use. <span style="text-decoration: underline; color: blue;"> ownertenants.com</span> shall also have the right to itself use or
                  release to third parties (including law enforcement and your building's management) personally
                  identifiable information regarding any person or entity who is suspected of having used this Site or
                  any other component of the Service for any fraudulent purposes, for harassment, or for having
                  otherwise violated any law, rule or regulation or the rights of third parties or having engaged in any
                  conduct which <span style="text-decoration: underline; color: blue;"> ownertenants.com</span> deems improper. By using the Service, you are agreeing to our use or
                  release of any information you provide in any manner we deem appropriate or necessary if you are
                  suspected of having engaged in any conduct which we deem improper. <span style="text-decoration: underline; color: blue;"> ownertenants.com</span> shall also have
                  the right to terminate, disable or reject creation of your account if it finds that you are a broker
                  or acting on behalf of a broker or for any other reason it may find appropriate and is not liable to
                  justify or clarify the reason.
                </p>
              </li>
              <li>
                <h5 style="margin: 10px 0px">How You Can Help</h5>
                <p style="font-weight: 400; line-height: 1.5; color: #212529; font-size: 14px;">Please notify
                  <span style="text-decoration: underline; color: blue;"> ownertenants.com</span> immediately of any unauthorized use of your password or account, or if you suspect
                  that there has been any other misconduct described above, by e-mailing us at <span
                    style="text-decoration: underline; color: blue;">support@ownertenants.com</span>.
                </p>
              </li>
            </ul>
          </li>
          <li>
            <h5 style="margin-bottom: 10px;">General</h5>
            <ul style="margin-left: 15px;">
              <li>
                <h5 style="margin: 10px 0px"><span style="text-decoration: underline; color: blue;"> ownertenants.com</span> Property:</h5>
                <p style="font-weight: 400; line-height: 1.5; color: #212529; font-size: 14px;">As between the parties,
                  <span style="text-decoration: underline; color: blue;"> ownertenants.com</span> shall own and retain all right, title and interest in and to the Service, the Site,
                  and any technology or content contained in or made available through the Service (other than your own
                  name and contact information), and shall also own any suggestions, ideas, enhancement requests,
                  feedback, recommendations or other information that you may provide relating to the <span style="text-decoration: underline; color: blue;"> ownertenants.com</span>
                  Service. The <span style="text-decoration: underline; color: blue;"> ownertenants.com</span> name and logo are trademarks of <span style="text-decoration: underline; color: blue;"> ownertenants.com</span>, and no right or
                  license is granted to use them. Other trademarks and trade names that may appear on the Site are the
                  property of their respective owners.
                </p>
              </li>
              <li>
                <h5 style="margin: 10px 0px">Content on the Website:</h5>
                <p style="font-weight: 400; line-height: 1.5; color: #212529; font-size: 14px;">While all effort is made
                  to ensure reliable information is posted on the site, the information contained on the Site may not be
                  accurate and beyond our control. We do not warrant the accuracy or suitability of such information.
                  Changes may be periodically added to the contents herein. By using our services you acknowledge that
                  information on the Site is provided to you on an "AS IS, WHERE IS" basis. Similarly while we endeavour
                  to ensure that all information is posted by owners of the properties, we cannot guarantee the same. We
                  are not a real estate agent; property dealer or broker and the content on the Site should not be
                  interpreted as a recommendation for any specific product or service, use or course of action.
                </p>
              </li>
              <li>
                <h5 style="margin: 10px 0px">Your Data:</h5>
                <p style="font-weight: 400; line-height: 1.5; color: #212529; font-size: 14px;">As part of the Service,
                  <span style="text-decoration: underline; color: blue;"> ownertenants.com</span> may provide you with information regarding goods or services offered by various third
                  parties (including without limitation financial institutions, paid advertisers or sponsors of the
                  <span style="text-decoration: underline; color: blue;"> ownertenants.com</span> Service, other users and leave and license registration agents). In no event shall
                  <span style="text-decoration: underline; color: blue;"> ownertenants.com</span> be liable for any damages arising out of any interaction between you and such
                  parties.
                </p>
              </li>
              <li>
                <h5 style="margin: 10px 0px">Warranties, Disclaimers:</h5>
                <p style="font-weight: 400; line-height: 1.5; color: #212529; font-size: 14px;">THE SERVICE (INCLUDING
                  WITHOUT LIMITATION THE SITE, AND ANY TOOLS OR DATA INCLUDED THEREIN) IS PROVIDED "AS IS" AND
                  OWNERTENANTS >IN DOES NOT PROVIDE ANY WARRANTY WHATSOEVER WITH RESPECT TO THE PERFORMANCE OF THE
                  <span style="text-decoration: underline; color: blue;"> ownertenants.com</span> SERVICE, INCLUDING ITS SAFETY, QUALITY, EFFECTIVENESS, COMMERCIAL VIABILITY OR
                  MERCHANTABILITY. YOU ASSUME ALL RESPONSIBILITY AND LIABILITY IN THIS REGARD. In no event shall
                  <span style="text-decoration: underline; color: blue;"> ownertenants.com</span> be liable for any damage whatsoever arising out of the use of or inability to use the
                  <span style="text-decoration: underline; color: blue;"> ownertenants.com</span> Service, even if <span style="text-decoration: underline; color: blue;"> ownertenants.com</span> has been advised of the possibility of such damages.
                  <span style="text-decoration: underline; color: blue;"> ownertenants.com</span> does not take any responsibility for any damage happening due to any interaction
                  between its users happening directly or indirectly through <span style="text-decoration: underline; color: blue;"> ownertenants.com</span>.
                </p>
              </li>
              <li>
                <h5 style="margin: 10px 0px">Limitation of Liability:</h5>
                <p style="font-weight: 400; line-height: 1.5; color: #212529; font-size: 14px;">In no event shall
                  <span style="text-decoration: underline; color: blue;"> ownertenants.com</span> be liable to any person for any incidental, consequential, special, indirect or
                  punitive damages (including without limitation lost profits) relating to the Service or otherwise
                  relating to these Terms of Use (whether for breach of contract, tort, or negligence) or its
                  termination and irrespective of whether <span style="text-decoration: underline; color: blue;"> ownertenants.com</span> has been advised of the possibility of any
                  such loss or damage. The limitations contained in this section shall survive any failure of an
                  exclusive or limited remedy. The maximum remedy available to a user shall in no event exceed the
                  amount of the subscription plan paid by such user (pro rated for completed usage).
                </p>
              </li>
              <li>
                <h5 style="margin: 10px 0px">Indemnification:</h5>
                <p style="font-weight: 400; line-height: 1.5; color: #212529; font-size: 14px;">You hereby agree to
                  indemnify, defend and hold <span style="text-decoration: underline; color: blue;"> ownertenants.com</span>, and our officers, directors, employees and agents
                  (collectively, the "Indemnitee") harmless from and against any and all losses, costs, expenses
                  (including reasonable outside attorneys' fees), claims, suits and liabilities by third parties
                  (collectively, "Claims") that the Indemnitee may suffer or incur, that arise, result from, or relate
                  in any way to (i) your infringement of any intellectual property or other rights of a third party;
                  (ii) your violation of any laws or regulation of any governmental, regulatory or judicial authority
                  arising from your use of the Service; (iii) your violation of these Terms of Service, or (iv) your
                  actual or alleged gross negligence or willful misconduct in connection with your use of the Service.
                </p>
              </li>
              <li>
                <h5 style="margin: 10px 0px">Governing Law, Jurisdiction:</h5>
                <p style="font-weight: 400; line-height: 1.5; color: #212529; font-size: 14px;">These Terms of Use shall
                  be governed by Indian law, without regard to the choice or conflicts of law provisions of any
                  jurisdiction. Any disputes, actions, claims or causes of action arising out of or in connection with
                  the Service shall be subject to, and you hereby consent to, the exclusive jurisdiction of the state
                  courts located in Mumbai, Maharashtra.</p>
              </li>
              <li>
                <h5 style="margin: 10px 0px">Waiver and Severability:</h5>
                <p style="font-weight: 400; line-height: 1.5; color: #212529; font-size: 14px;">No failure or delay on
                  the part of either party in exercising any right or remedy hereunder will operate as a waiver thereof
                  or any other provision. In the event that any provision of these Terms of Use is determined by a court
                  of competent jurisdiction to be unenforceable or invalid, such unenforceability or invalidity will not
                  render these Terms of Use unenforceable or invalid as a whole, and the unenforceable provision shall
                  be construed, as nearly as possible, to reflect the intentions of the invalid or unenforceable
                  provision.</p>
              </li>
              <li>
                <h5 style="margin: 10px 0px">Changes to the Service:</h5>
                <p style="font-weight: 400; line-height: 1.5; color: #212529; font-size: 14px;"><span style="text-decoration: underline; color: blue;"> ownertenants.com</span>
                  reserves the right to redesign or modify the organization, structure, features, pricing, or "look and
                  feel" of the Service and any portion thereof at any time without prior notice or liability hereunder.
                </p>
              </li>
              <li>
                <h5 style="margin: 10px 0px">Modification to Terms:</h5>
                <p style="font-weight: 400; line-height: 1.5; color: #212529; font-size: 14px;"><span style="text-decoration: underline; color: blue;"> ownertenants.com</span>
                  reserves the right to modify the provisions of these Terms of Use at any time by posting an updated
                  version of this document on the Site, provided, however, that no such modification shall have
                  retroactive effect. Except as provided in this paragraph or otherwise provided in the Terms of Use, no
                  modification of or amendment to the Terms of Use, and no waiver of any rights thereunder, will be
                  effective unless in writing signed by the party to be charged.</p>
              </li>
              <li>
                <h5 style="margin: 10px 0px">Transfer Prohibited:</h5>
                <p style="font-weight: 400; line-height: 1.5; color: #212529; font-size: 14px;">Your <span style="text-decoration: underline; color: blue;"> ownertenants.com</span>
                  account is personal to you, and you may not assign or transfer your <span style="text-decoration: underline; color: blue;"> ownertenants.com</span> account or any of
                  your rights under these Terms of Use to any third party without our prior written consent, which may
                  withhold for any reason or for no reason. Any attempted assignment or transfer in violation of the
                  foregoing shall be deemed a material breach of the Terms of Use.</p>
              </li>
              <li>
                <h5 style="margin: 10px 0px">How To Contact Us:</h5>
                <p style="font-weight: 400; line-height: 1.5; color: #212529; font-size: 14px;">If you have any
                  questions about this Agreement, the practices of <span style="text-decoration: underline; color: blue;"> ownertenants.com</span>, or your experience with the
                  Service, you can e-mail us at <span
                    style="text-decoration: underline; color: blue;">support@ownertenants.com</span>.
              </li>
              <li>
                <h5 style="margin: 10px 0px">Refund Policy:</h5>
                <p style="font-weight: 400; line-height: 1.5; color: #212529; font-size: 14px;">None of the
                  <span style="text-decoration: underline; color: blue;"> ownertenants.com</span> subscription plan is refundable or cancellable until or unless specified specifically
                  on the plan itself.</p>
              </li>
              <li>
                <h5 style="margin: 10px 0px">Copyright Policy:</h5>
                <p style="font-weight: 400; line-height: 1.5; color: #212529; font-size: 14px;"><span style="text-decoration: underline; color: blue;"> ownertenants.com</span>
                  respects the intellectual property of others, and we ask our users to do the same. If you believe that
                  your own copyrighted work is accessible on the Site in violation of your copyright, you may provide us
                  a written communication under the Digital Millennium Copyright Act, 17 U.S.C. 512(c)(3), that contains
                  substantially the following information:</p>

                <!-- <h5 style="margin: 10px 0px">Copyright Policy:</h5> -->
                <p style="font-weight: 400; line-height: 1.5; color: #212529; font-size: 14px;">Identify the copyrighted
                  work or intellectual property that you claim has been infringed in sufficient detail so that we can
                  locate the material. For example, "The copyrighted work is my content that appears at
                  <a href="http://www.mycopyrightedcontent.com/this.">http://www.mycopyrightedcontent.com/this".</a></p>
                <p style="font-weight: 400; line-height: 1.5; color: #212529; font-size: 14px;">
                  Identify the URL on the Site that contains the material that you claim infringes your copyright.
                  Again, you must provide us with reasonably sufficient information to let us locate the alleged
                  infringing material. For example, "The content at the following URL infringes on my copyright:
                  http://www.ownertenants.com/infringing."
                </p>
                <p style="font-weight: 400; line-height: 1.5; color: #212529; font-size: 14px;">
                  Include your name, mailing address, telephone number and e-mail address.
                </p>
                <p style="font-weight: 400; line-height: 1.5; color: #212529; font-size: 14px;">
                  Provide the electronic or physical signature of the owner of the copyright or a person authorized to
                  act on the owner's behalf.
                </p>
                <p style="font-weight: 400; line-height: 1.5; color: #212529; font-size: 14px;">
                  Include a statement by you that you have a good faith belief that the disputed use is not authorized
                  by the copyright owner, its agent, or the law.
                </p>
                <p style="font-weight: 400; line-height: 1.5; color: #212529; font-size: 14px;">
                  Include a statement by you, made under the penalty of perjury, that the information contained in your
                  Notice is accurate and that you are the copyright owner or that you are authorized to act on the
                  copyright owner's behalf.
                </p>
                <p style="font-weight: 400; line-height: 1.5; color: #212529; font-size: 14px;">
                  Information on <span style="text-decoration: underline; color: blue;"> ownertenants.com</span> site is to be used by customers for personal use. <span style="text-decoration: underline; color: blue;"> ownertenants.com</span>
                  reserves the right to block customer and forfeit any payment-received, if it suspects the customer or
                  the usage to be of commercial nature.
                </p>
                <p style="font-weight: 400; line-height: 1.5; color: #212529; font-size: 14px;">
                  If the paid customer is found to be displaying broker behaviour then <span style="text-decoration: underline; color: blue;"> ownertenants.com</span> reserves the
                  right to ban the customer with no refund. This includes using the owner-details from ownertenants site
                  directly or indirectly for asking the brokerage from our customers or/and using the site for a diverse
                  set of properties which exhibit broker behaviour.
                </p>
                <p style="font-weight: 400; line-height: 1.5; color: #212529; font-size: 14px;">
                  You can e-mail us your Notification of Alleged Copyright Infringement at support@ownertenants.com.
                </p>
              </li>
              <li>
                <h5 style="margin: 10px 0px"> Disclaimers:</h5>
                <p style="font-weight: 400; line-height: 1.5; color: #212529; font-size: 14px;">
                  <span style="text-decoration: underline; color: blue;"> ownertenants.com</span> is not responsible for any incorrect or inaccurate Content/listing posted on the Site
                  or in connection with the <span style="text-decoration: underline; color: blue;"> ownertenants.com</span> Service, whether caused by Users, customers or by any of
                  the equipment or programming associated with or utilized in the Service, nor for the conduct of any
                  User and/or Member of the <span style="text-decoration: underline; color: blue;"> ownertenants.com</span> service whether online or offline.
                </p>
                <p style="font-weight: 400; line-height: 1.5; color: #212529; font-size: 14px;">
                  <span style="text-decoration: underline; color: blue;"> ownertenants.com</span> services all packages or memberships on best effort basis. We do not guarantee any
                  return in part or full unless specifically mentioned on the site. ownertenants liability (if any)
                  would be limited to the amount paid by the customer.
                </p>
                <p style="font-weight: 400; line-height: 1.5; color: #212529; font-size: 14px;">
                  <span style="text-decoration: underline; color: blue;"> ownertenants.com</span> assumes no responsibility for any error, omission, interruption, deletion, defect,
                  delay in operation or transmission, communications line failure, theft or destruction or unauthorized
                  access to, or alteration of, User and/or Member communications or any communications by
                  <span style="text-decoration: underline; color: blue;"> ownertenants.com</span> to its Members.
                </p>
                <p style="font-weight: 400; line-height: 1.5; color: #212529; font-size: 14px;">
                  <span style="text-decoration: underline; color: blue;"> ownertenants.com</span> is not responsible for any problems or technical malfunction of any telephone network
                  or lines, computer on-line-systems, servers or providers, computer equipment, software, failure of
                  email or players on account of technical problems or traffic congestion on the Internet or at any web
                  site or combination thereof, including injury or damage to Users and/or Members or to any other
                  person's computer related to or resulting and/or in connection with the <span style="text-decoration: underline; color: blue;"> ownertenants.com</span>.
                </p>
                <p style="font-weight: 400; line-height: 1.5; color: #212529; font-size: 14px;">
                  Under no circumstances will <span style="text-decoration: underline; color: blue;"> ownertenants.com</span> be responsible for any loss or damage resulting from
                  anyone's use of the Site or the Service and/or any Content posted on the <span style="text-decoration: underline; color: blue;"> ownertenants.com</span> Site or
                  transmitted to <span style="text-decoration: underline; color: blue;"> ownertenants.com</span> customers.
                </p>
                <p style="font-weight: 400; line-height: 1.5; color: #212529; font-size: 14px;">
                  The exchange of property and any other information through or by " <span style="text-decoration: underline; color: blue;"> ownertenants.com</span> " is not any sort
                  of offer and/or recommendation from/by <span style="text-decoration: underline; color: blue;"> ownertenants.com</span>. <span style="text-decoration: underline; color: blue;"> ownertenants.com</span> shall not be responsible for
                  any loss or damage to any individual arising out of, or subsequent to, any relations (including but
                  not limited to property) established pursuant to the use of <span style="text-decoration: underline; color: blue;"> ownertenants.com</span>.
                </p>
                <p style="font-weight: 400; line-height: 1.5; color: #212529; font-size: 14px;">
                  The Site and the Service are provided "AS-IS" and <span style="text-decoration: underline; color: blue;"> ownertenants.com</span> expressly disclaims any warranty of
                  fitness for a particular purpose or non-infringement. <span style="text-decoration: underline; color: blue;"> ownertenants.com</span> cannot guarantee and does not
                  promise any specific results from use of the Site and/or the <span style="text-decoration: underline; color: blue;"> ownertenants.com</span> Service.
                  <span style="text-decoration: underline; color: blue;"> ownertenants.com</span> expressly disclaims any liability or responsibility whatsoever and howsoever arising
                  as a result of any Content/listing posted on the Site / made available to <span style="text-decoration: underline; color: blue;"> ownertenants.com</span> by any
                  customers or the users of the Site or any third party. <span style="text-decoration: underline; color: blue;"> ownertenants.com</span> does not assume any
                  responsibility or liability for any illegal Content posted on the Site by any customers, users or any
                  third party.
                </p>
                <p style="font-weight: 400; line-height: 1.5; color: #212529; font-size: 14px;">
                  All liability, whether civil or criminal arising out of any Content that is Posted on the Site will be
                  of that Customer / user / third party who has Posted such Content and <span style="text-decoration: underline; color: blue;"> ownertenants.com</span> reserves its
                  right to claim damages from such Customer/ user / third party that it may suffer as a result of such
                  Content Posted on the Site. <span style="text-decoration: underline; color: blue;"> ownertenants.com</span> does not claim ownership of Content you submit or make
                  available for inclusion on the Service.
                </p>
                <p style="font-weight: 400; line-height: 1.5; color: #212529; font-size: 14px;">
                  The terms "genuine verified owner" and "genuine verified tenants/ buyers" on our platform refer to our
                  algorithm based tech process by which we eliminate brokers on our platform. This is on a best-effort
                  basis and has its own limitations. We neither physically meet /verify customers nor do we conduct any
                  background /police verification process of the customers.
                </p>
                <p style="font-weight: 400; line-height: 1.5; color: #212529; font-size: 14px;">
                  Any charges paid to the government for Rental agreement registration are non-refundable under any
                  circumstances.
                </p>
              </li>
              <li>
                <h5 style="margin: 10px 0px">Ownertenants Pay Terms & Conditions:</h5>
                <p style="font-weight: 400; line-height: 1.5; color: #212529; font-size: 14px;">
                  We are not involved in any underlying transaction between you, any other user, or any service
                  providers. We are not a bank and do not offer any banking or related services. We may use the services
                  of one or more third parties to provide the Service and process your transactions (each a
                  "Processor"). Further, we do not guarantee payment on behalf of any registered user, other user or
                  third party service provider. We are neither an agent of the lessor or lessee or any registered user.
                </p>
                <p style="font-weight: 400; line-height: 1.5; color: #212529; font-size: 14px;">
                 <span style="font-weight: bold;"> Transaction Limits :</span> We may delay, suspend or reject a transaction for any payment(s) for any reason,
                  including without limitation if we suspect the transaction subjects us to financial or security risk
                  or is unauthorized, fraudulent, suspicious, unlawful, in violation of the terms of this Agreement,
                  subject to dispute or otherwise unusual.
                </p>
                <p style="font-weight: 400; line-height: 1.5; color: #212529; font-size: 14px;">
                  <span style="font-weight: bold;">Chargebacks : </span> The amount of a transaction may be charged back or reversed to you (a "Chargeback") if
                  the transaction (a) is disputed by the sender, (b) is reversed for any reason, (c) was not authorized
                  or we have reason to believe that the transaction was not authorized, or (d) is allegedly unlawful,
                  suspicious, or in violation of the terms of this Agreement. You owe us and will immediately pay us the
                  amount of any Chargeback and any associated fees, fines, or penalties assessed by our Processor,
                  processing financial institutions, or MasterCard, Visa, American Express, Discover, and other payment
                  card networks, associations, or companies ("Networks"). You agree to assist us when requested, at your
                  expense, to investigate any of your transactions processed through the Service. For Chargebacks
                  associated with Cards, we will work with you to contest the Chargeback with the Network or issuing
                  banks should you choose to contest the Chargeback. We will request necessary information from you to
                  contest the Chargeback. Your failure to timely assist us in investigating a transaction, including
                  without limitation providing necessary documentation within 5 business days of our request, may result
                  in an irreversible Chargeback.
                </p>
                <p style="font-weight: 400; line-height: 1.5; color: #212529; font-size: 14px;">
                  <span style="font-weight: bold;"> Liability :</span> You agree not to hold <span style="text-decoration: underline; color: blue;"> ownertenants.com</span> responsible and/or liable for any issue or claim
                  arising out of any dispute whatsoever between you and the Processor and/or you and your bank or
                  financial institution.
                </p>
                <p style="font-weight: 400; line-height: 1.5; color: #212529; font-size: 14px;">
                  <span style="font-weight: bold;">Fraud and Restrictions :</span> <span style="text-decoration: underline; color: blue;"> ownertenants.com</span> may ask for additional documents to restrict any act of
                  Fraud.
                </p>
              </li>
            </ul>
          </li>
        </ol>

      </div>
    </div>
  </div>
</section>