<section class="breadcrumb-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
<h4>Terms & Conditions</h4>
<p>The Service We Provide:
The Service is designed to provide Residents with a building-specific "Network" to interact with their neighbors and share their knowledge of the neighborhood. Subject to the provisions below, and to the terms of any agreement we may have with your building's owners or management or association, the following elements of the Service are available to Residents:

A. Site Access:
Please note that only one username and password should be created per user. Username is the email_id/contact number provided by the user. We reserve the right to verify this information before enabling an account. The account can be rejected or disenabled if it is found to be a broker account or for any other reason that NoBroker.in finds suitable and which it is not liable to state or justify.

You are responsible for maintaining the confidentiality of your password and account, and are fully responsible for any activities that occur under your password or account, with or without your knowledge. If you knowingly give your login and password information to another person, we may suspend or terminate your account, in addition to any other remedies available to us. You must immediately notify us if you become aware of any unauthorized use of your password or account or any other breach of security. We can not be liable for any loss or damage arising from your failure to comply with this paragraph.</p>
</div>
</div>
</div>
</section>

