<!-- Footer -->
<div style="background: black;" class="page-footer font-small blue pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 (click)="navigateTo('aboutus')" style="color: white;cursor: pointer;" class="text-uppercase">About Us</h5>
        <p style="color: #ccc; font-size: 14px;">There is a problem in searching rental houses in India which requires
          time,energy,efforts & expensive
          uneven brokerage charges leads to discomfort & dissatisfaction to both owners & Tenants.

          Ownertenants.com is a hybrid marketplace(online & offline) which bridge the gap between both the parties
          owners & tenants for a satisfying rental experience without any broker involved.
          <a (click)="navigateTo('aboutus')" style="cursor: pointer;">see more</a>
          .</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <div class="col-md-3 mb-md-0 mb-3">
        <h5 style="color: white;" class="text-uppercase">Company</h5>
        <div>
          <ul style="color: #ccc; font-size: 14px;list-style-type:none;">
            <li>About us</li>
            <li>Terms & Condition</li>
            <li>Privacy Policy</li>
            <li>Testimonials</li>
            <li>SiteMap</li>
            <li>FAQ</li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 mb-md-0 mb-3">
        <h5 style="color: white;" class="text-uppercase">Contact us</h5>
        <div>
          <ul style="color: #ccc; font-size: 14px;list-style-type:none;">
            <li>Contact us</li>
            <li>Facebook</li>
            <li>LinkedIn</li>
            <li>Twitter</li>
            <li>Instagram</li>
            <li>Youtube</li>
          </ul>
        </div>
      </div>
      <!-- <div class="col-md-6 mb-md-0 mb-3">

        <h5 style="color: white;" class="text-uppercase">For Enquiry</h5>
        <div class="property-contactus">
          <div class="row">
            <div >
              <form action="#" class="agent-contact-form">
                <input style="border-radius: 7px; margin-top: 3%; " type="text" placeholder="Name*">
                <input  style="border-radius: 7px; margin-top: 3%; " type="text" placeholder="Email">
                <textarea  style="    width: 65%;                border-radius: 7px; margin-top: 3%; " placeholder="Messages"></textarea>
                <button style="    width: 65%; "  type="submit" class="site-btn">Send Message</button>
              </form>
            </div>
          </div>
        </div>
      </div> -->
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div style="    background: purple;color: white;" class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://ownertenants.com/"> OwnerTenants.com</a>
  </div>
  <!-- Copyright -->

</div>
<!-- Footer -->
