<!-- Footer -->
<div style="background: darkred;" class="page-footer font-small blue pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 (click)="navigateTo('aboutus')" style="color: white;cursor: pointer;" class="text-uppercase">About Us</h5>
        <p style="color: white;">There is a problem in searching rental houses in India which requires
          time,energy,efforts & expensive
          uneven brokerage charges leads to discomfort & dissatisfaction to both owners & Tenants.

          Ownertenants.com is a hybrid marketplace(online & offline) which bridge the gap between both the parties
          owners & tenants for a satisfying rental experience without any broker involved.
          <a (click)="navigateTo('aboutus')" style="cursor: pointer;">see more</a>
          .</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 style="color: white;" class="text-uppercase">Contact</h5>

        <ul class="list-unstyled">
          <li>
            <a style="color: white;" href="#!">Mobile: (+91) 9109769242</a>
          </li>
          <li style="color: white;">
            <a style="color: white;" href="#!">Email: support@ownertenants.com</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 style="color: white;" class="text-uppercase">Enquire</h5>

        <div class="property-contactus">
          <div class="row">
            <div >
              <form action="#" class="agent-contact-form">
                <input style="border-radius: 7px; margin-top: 3%; " type="text" placeholder="Name*">
                <input  style="border-radius: 7px; margin-top: 3%; " type="text" placeholder="Email">
                <textarea  style="    width: 65%;                border-radius: 7px; margin-top: 3%; " placeholder="Messages"></textarea>
                <button style="    width: 65%; "  type="submit" class="site-btn">Send Message</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div style="    background: black;color: white;" class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://ownertenants.com.com/"> OwnerTenants.com</a>
  </div>
  <!-- Copyright -->

</div>
<!-- Footer -->
