<!-- Footer -->
<div style="background: black;" class="page-footer font-small blue pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-12 mt-md-0 mt-3">

        <!-- Content -->
        <h5 (click)="navigateTo('aboutus')" style="color: white;cursor: pointer;" class="text-uppercase">About Us</h5>
        <p style="color: #ccc; font-size: 14px;">Ownertenants.com is a hybrid marketplace(online & offline) which bridge
          the gap between both the parties owners & tenants for a satisfying rental experience without any broker
          involved .There is a problem in searching rental house which requires time,energy,efforts & expensive uneven
          brokerage charges leads to discomfort & dissatisfaction to both owners & Tenants.
          <a (click)="navigateTo('aboutus')" style="cursor: pointer;color:blue;text-decoration:underline">See More</a>
          .</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <div class="col-md-3 mb-md-0 mb-3" style="text-align: center;">
        <h5 style="color: white;" class="text-uppercase">Company</h5>
        <div>
          <ul style="color: #ccc; font-size: 14px;list-style-type:none;">
            <li>About us</li>
            <li><a (click)="navigateTo('terms_conditions')" style="cursor: pointer;text-decoration: decoration;">Terms &
                Conditions</a></li>
            <li><a (click)="navigateTo('privacy')" style="cursor: pointer;text-decoration: decoration;">Privacy
                Policy</a></li>
            <li>Testimonials</li>
            <li>SiteMap</li>
            <li>FAQ</li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 mb-md-0 mb-3" style="text-align: center;">
        <h5 style="color: white;" class="text-uppercase">Contact us</h5>
        <div>
          <ul style="color: #ccc; font-size: 14px;list-style-type:none;">
            <li>Contact us</li>
            <li>Facebook</li>
            <li>LinkedIn</li>
            <li>Twitter</li>
            <li>Instagram</li>
            <li>Youtube</li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 mb-md-0 mb-3" style="text-align: center;">
        <h5 style="color: white;" class="text-uppercase">Enquiry</h5>
        <div>
          <ul style="color: #ccc; font-size: 14px;list-style-type:none;">
            <li style="margin: 10px 0px;">  Name <input type="text" [(ngModel)]="name" style="margin-left: 11%;"/></li>
            <li style="margin: 10px 0px;">Mobile <input type="text" [(ngModel)]="mobile" style="margin-left: 10%;"/></li>
            <li style="margin: 10px 0px;">Message <input type="text" [(ngModel)]="message" style="margin-left: 6%;"/></li>
            <li style="margin: 10px 0px;">
              <button class="btn btn-success" style="background-color: #2cbdb8;" (click)=submit()>Send</button>
            </li>
          </ul>
        </div>
      </div>
      <!-- <div class="col-md-6 mb-md-0 mb-3">

        <h5 style="color: white;" class="text-uppercase">For Enquiry</h5>
        <div class="property-contactus">
          <div class="row">
            <div >
              <form action="#" class="agent-contact-form">
                <input style="border-radius: 7px; margin-top: 3%; " type="text" placeholder="Name*">
                <input  style="border-radius: 7px; margin-top: 3%; " type="text" placeholder="Email">
                <textarea  style="    width: 65%;                border-radius: 7px; margin-top: 3%; " placeholder="Messages"></textarea>
                <button style="    width: 65%; "  type="submit" class="site-btn">Send Message</button>
              </form>
            </div>
          </div>
        </div>
      </div> -->
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->
  <!-- Copyright -->
  <div style="background: #2cbdb8;color: white;" class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://ownertenants.com/"> OwnerTenants.com</a>
  </div>
  <div style="padding: 2%; background: black;color: white;"> # owner # tenants #tenant # realestate #rent # rooms on #
    rent near me # houses for rent # flats for rent near me # houses for rent near me # 2 bhk flat # flat for rent # olx
    rooms for rent # 1bhk # 2 bhk # property for rent # 1 bhk flat # apartments for rent # olx properties # homes for
    rent near me # magic brick rent # olx house for rent # 1 bhk flat for rent near me # 1bhk flat on rent # 2bhk flat
    near me # apartments for rent near me # rent 1 bhk # rental properties near me # 1 bed apartment # 1 bed apartment
    for rent # 1 bedroom apartment for rent # 1 bedroom apartments # 1 bedroom apartments for rent near me # 1 bedroom
    apartments near me # 1 bedroom for rent near me # 1 bedroom homes for rent # 1 bedroom house # 1 bedroom house for
    rent # 1 bedroom house for rent near me # 1 bhk apartment for rent # 1 bhk for rent near me # 1 bhk house for rent #
    1 bhk house for rent near me # 1 bhk near me # 1bhk flat near me # 1bhk flat on rent near me # 2 bed apartment # 2
    bed house for rent # 2 bedroom apartments # 2 bedroom apartments for rent # 2 bedroom apartments for rent near me #
    2 bedroom apartments near me # 2 bedroom for rent near me # 2 bedroom house for rent # 2 bedroom house for rent near
    me # 2 bedroom houses # 2 bhk apartment # 2 bhk flat for rent # 2 bhk flat for rent near me # 2 bhk for rent near me
    # 2 bhk house for rent # 2 bhk house for rent near me # 2 bhk houses for rent # 3 bed house for rent # 3 bedroom
    apartment # 3 bedroom apartments for rent # 3 bedroom apartments for rent near me # 3 bedroom apartments near me # 3
    bedroom homes for rent # 3 bedroom house for rent # 3 bedroom house for rent near me # 5 bedroom house for rent #
    apartment list # apartment search # apartment sites # apartments around me # apartments for rent in # apartments
    homes for rent # apartments near # apartments near asu # apartments near lsu # apartments near me for rent 2 bedroom
    # apartments near my location # apartments near ucla # apartments near usc # basement apartment for rent # basement
    apartments for rent near me # best apartment search sites # best apartments near me # best site for apartment
    rentals # best sites for apartments # best vacation rental sites # bungalow for rent # cheap 1 bedroom apartments #
    cheap 1 bedroom apartments near me # cheap 2 bedroom apartments # cheap 2 bedroom apartments for rent # cheap 2
    bedroom apartments for rent near e
    # cheap apartments # cheap apartments for rent # cheap apartments for rent near me # cheap apartments near me #
    cheap fully furnished apartments for rent near me
    # cheap homes for rent # cheap homes for rent near me # cheap houses for rent # cheap places for rent near me #
    cheap single bedroom apartments for rent # cheap studio apartments # cheap studio apartments for rent # daft rent #
    downtown apartments for rent # duplex apartment for rent # duplex for rent # duplex for rent near me # find
    apartments # find apartments for rent # find houses for rent # find rental homes # fully furnished apartments #
    fully furnished apartments for rent # fully furnished apartments near me # fully furnished house for rent #
    furnished apartments # furnished apartments for rent # furnished apartments for rent near me # furnished apartments
    near me # furnished homes for rent # furnished house for rent # furnished rooms for rent # good apartments near me #
    holiday house rentals # home rental services # home rental sites # homes for lease # homes for lease near me # house
    for lease # house for lease near me # house for rent in mysore # house for rent in velachery # house rental sites #
    houses and apartments for rent # houses and apartments for rent near me # houses for rent around me # houses for
    rent in my area # houses for rent near me cheap # houses for rent near me pet friendly # houses for rent near my
    location # independent house for rent near me # kijiji apartments # korean apartments # lease apartment # loft
    apartments for rent # loft apartments near me # looking for apartments # luxury home rentals # monthly apartment
    rentals # new apartments for rent # new apartments near me # olx apartment for rent # one bhk flat # pet friendly
    apartments for rent # pet friendly apartments for rent near me # pet friendly apartments near me # pet friendly
    homes for rent near me # pet friendly houses for rent # places for rent # places for rent near me # rent 2 bhk #
    rent house near me below 5000 # rent my home # rent my house # rent my property # rental accommodation # serviced
    apartments near me # shared accommodation # short term apartment rentals # short term apartments # short term house
    rentals # short term lease apartments # short term rentals near me # single apartments for rent # single bedroom
    apartments # single bedroom apartments near me # single family homes for rent # single family homes for rent near me
    # single house for rent # single rooms for rent near me # small houses for rent # small houses for rent near me #
    student apartment # studio apartments for rent # studio apartments for rent near me # studio apartments near me #
    studio house for rent # three bedroom apartments # three bedroom house for rent # tiny house rentals # two bedroom
    apartment for rent # two bedroom apartments # two bedroom apartments for rent near me # two bedroom house for rent #
    vacation homes for rent # villa for rent # weekend house rentals # weekly apartment rentals </div>
  <!-- Copyright -->

</div>
<!-- Footer -->