<section class="breadcrumb-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h4>Pricy Policy</h4>
<p>To access and use some section on OwnerTenants that are restricted only to registered users, you need to create an account on NoBroker.in
    To create an account we need your verified email address or Mobile number, which could then be used to login to NoBroker.in
    You have to accept the terms of service before creating an account on OwnerTenants
    OwnerTenants reserves the right to the creation of the account on its website and can reject the creation based on content, information, broker listing or any other reason it may find appropriate without stating and is not liable to give a clarification or reason for rejecting the account creation
    OwnerTenants reserves the right to charge or change the charges for creation of the account or for allowing access to contact details of landlord /tenant anytime that it deems necessary
    </p>
</div>
</div>
</div>
</section>