.login {
  width: 30%;
  margin-left: 36%;
  margin-bottom: 2%;
  margin-top: 2%
}

@media only screen and (max-width: 991px) {
  .login {
    width: 70%;
    margin-left: 15%;
    margin-bottom: 7%;
    margin-top: 20%;
  }
}
