<section class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 style="text-align: center;">Frequenty Asked Questions</h2>
                <hr>

                <h4 style="margin-bottom: 10px;">General & Account Related</h4>
                <ul style="padding-left: 25px;">
                    <li style="font-weight: bold;">Why do I need a verified account to use ownertenants.com services?
                    </li>
                    <p style="font-weight: 400; line-height: 1.5; color: #212529; font-size: 14px;">At ownertenants.com
                        our main aim is to eliminate brokers from whole rental scene. In order to
                        achieve that we verify each owner/tenant's account and activate it after verifying that the user
                        is genuine.</p>
                    <li style="font-weight: bold;">
                        How long does it take for email verification?
                    </li>
                    <p style="font-weight: 400; line-height: 1.5; color: #212529; font-size: 14px;">
                        Email verification is very simple. As soon as you register you will receive a mail with link to
                        verify your email. It hardly takes a couple of minutes.
                    </p>
                    <li style="font-weight: bold;">
                        How long does it take for mobile number verification?
                    </li>
                    <p style="font-weight: 400; line-height: 1.5; color: #212529; font-size: 14px;">
                        Our Team work tirelessly to verify your account asap. Generally a mobile number verification
                        happens in less than 4 hours.
                    </p>
                    <li style="font-weight: bold;">
                        How will I know if my account is verified?
                    </li>
                    <p style="font-weight: 400; line-height: 1.5; color: #212529; font-size: 14px;">
                        You will be notified about the account verification via email and sms.
                    </p>
                </ul>
                <h4 style="margin-bottom: 10px;">Owners Related</h4>
                <ul style="padding-left: 25px;">
                    <li style="font-weight: bold;">
                        Can I list my property until my account is verified?
                    </li>
                    <p style="font-weight: 400; line-height: 1.5; color: #212529; font-size: 14px;">
                        Yes, you can list your property without worrying about the account verification. As part of
                        property verification we will verify your account as well.
                    </p>
                    <li style="font-weight: bold;">
                        Why is my property listing not visible?
                    </li>
                    <p style="font-weight: 400; line-height: 1.5; color: #212529; font-size: 14px;">
                        Every listing on ownertenants.com is verified for its content, photo, location and genuine
                        broker free ownership. Property is made active (visible for all) after these verifications.
                    </p>
                    <li style="font-weight: bold;">
                        I made a change to my property listing & now it is not visible in search?
                    </li>
                    <p style="font-weight: 400; line-height: 1.5; color: #212529; font-size: 14px;">
                        Any changes to the property listing after activation will go through scrutinization process to
                        maintain the quality of listing on sites. Don't worry! Our Team will make it active within no
                        time if all details are acceptable.
                    </p>
                    <li style="font-weight: bold;">
                        Any recommendations for property owners while listing a property?
                    </li>
                    <p style="font-weight: 400; line-height: 1.5; color: #212529; font-size: 14px;">
                        As we make the word Zero brokerage , we seek your cooperation by following below guidelines:
                    </p>
                    <ol style="padding-left: 35px;">
                        <li>
                            Provide accurate details while listing your property
                        </li>
                        <li>
                            Please do not include your phone/email number in description of property
                        </li>
                        <li>
                            Add at least one photos of each room, kitchen, hall etc. to make your listing more
                            attractive
                        </li>
                        <li>
                            We have kept the listing process simple. A novice user can complete a listing in less than 5
                            minutes
                        </li>
                    </ol>
                    <li style="font-weight: bold; margin-top: 15px;">
                        I received a SMS stating that my property listing was rejected, Can you explain why?
                    </li>
                    <p style="font-weight: 400; line-height: 1.5; color: #212529; font-size: 14px;">
                        Our main aim at ownertenants.com is to eliminate brokers from the rental scene and if we find a
                        property listing by a user who is a broker or suspected to be a broker, we reject the listing.
                        While doing so we may end up rejecting genuine listings sometimes. For such cases, please
                        contact us on mail on support@ownertenants.com
                    </p>
                    <li style="font-weight: bold;">
                        What if I don’t get property rent out through ownertenants.com ?
                    </li>
                    <p style="font-weight: 400; line-height: 1.5; color: #212529; font-size: 14px;">
                        We help our owners finalise the deal in shorter time period but still if you don’t get Tenants
                        from us please write us on support@ownertenants.com we will extend the validity so that next
                        time whenever you are searching Tenants you can avail our services without paying any
                        subscription fees.
                    </p>
                </ul>
                <h4 style="margin-bottom: 10px;">Tenant/Seekers Related</h4>
                <ul style="padding-left: 25px;">
                    <li style="font-weight: bold;">
                        Why do I need wait for my account to be validated to see owner details?
                    </li>
                    <p style="font-weight: 400; line-height: 1.5; color: #212529; font-size: 14px;">
                        After your registration on ownertenants.com your details such as name, email address & mobile
                        number are used to verify that it is not associated with a broker. After successful
                        verification, you can contact owners directly. This extra step has been added to eliminate the
                        brokers completely
                    </p>
                    <li style="font-weight: bold;">
                        Can I view properties until my account is verified?
                    </li>
                    <p style="font-weight: 400; line-height: 1.5; color: #212529; font-size: 14px;">
                        Yes, you can search and shortlist the properties with an un-verified account. But to receive
                        owner's email & phone number you will have to wait for the account verification to complete.
                    </p>
                    <li style="font-weight: bold;">
                        I am new to city, how can I use ownertenants.com to find a suitable house for me?
                    </li>
                    <p style="font-weight: 400; line-height: 1.5; color: #212529; font-size: 14px;">
                        To help new migrants to the city, we have map search feature which provides the exact location
                        of the property on the map. You can also look for details such as nearby schools, hospital etc.
                        on the map on the detail page of the property
                    </p>
                    <li style="font-weight: bold;">
                        I didn't find property for my requirement, what should i do?
                    </li>
                    <p style="font-weight: 400; line-height: 1.5; color: #212529; font-size: 14px;">
                        Please post your requirements using "Match your Requirement" button on top right corner of the
                        page and our system will recommend a property as soon as it finds something matching your
                        requirement.
                    </p>
                    <p style="font-weight: 400; line-height: 1.5; color:#212529 ; font-size: 14px;">
                        We provide services to help you find a house as per your requirement and help you with up to 50
                        different owner properties. It is a very rare case, that we are not able to find a suitable
                        property for any one of our customers as 50 owner contacts are more than enough.
                    </p>
                    <li style="font-weight: bold;">
                        How will my relationship manager help me negotiate the rent?
                    </li>
                    <p style="font-weight: 400; line-height: 1.5; color: #212529; font-size: 14px;">
                        Your Relationship Manager tries to negotiate rent for in case there are inconsistencies in rent
                        amount as per the market standard in the specific locality. However, rent and deposit amount are
                        on the sole discretion of the owners.
                    </p>
                    <li style="font-weight: bold;">
                        How soon can I get the house after I subscribe to the plan?
                    </li>
                    <p style="font-weight: 400; line-height: 1.5; color: #212529; font-size: 14px;">
                        Usually the timeline to get a house depends on how specific the requirements are, we do try to
                        get you a house as soon as possible. However, we have seen that usually the whole process can
                        take up to a maximum of 3 weeks from the date of subscription.
                    </p>
                    <li style="font-weight: bold;">
                        Will Relationship Manager be present during the house visit?
                    </li>
                    <p style="font-weight: 400; line-height: 1.5; color: #212529; font-size: 14px;">
                        We help our customers shortlist properties and speak with owners on their behalf to set up
                        meeting appointments. Hence, there is no need to get on the field. Once the appointment is fixed
                        all that you would have to do is to visit the property and we will finalise the deal.
                    </p>
                    <li style="font-weight: bold;">
                        What if I don’t get property through ownertenants.com ?
                    </li>
                    <p style="font-weight: 400; line-height: 1.5; color: #212529; font-size: 14px;">
                        We help our customers shortlist properties & finalise the deal in shorter time period but still
                        if you don’t get rented house from us please write us on support@ownertenants.com we will extend
                        the validity so that next time whenever you are searching rented house you can avail our
                        services without paying any subscription fees.
                    </p>
                </ul>
            </div>
        </div>
    </div>
</section>