<navigation [username]="loggedUserName"></navigation>

<!-- Search Form Section Begin -->
<div class="col-lg-12 tagline">
  <div class="section-title">
    <span>Find Your Dream House</span>
    <h2>Properties</h2>
  </div>
</div>
<div class="row" style="margin-right: 0;">
  <div style="position:absolute;z-index: 1000;"> <button style="    margin-left: 12%;
    width: 100%;
    border-radius: 31% 2%;
    background: purple;
    color: white;" (click)="filterShowHide()">{{showMenuFilter ? 'Hide Filter' : 'Show Filter'}} </button>
  </div>
  <section class="search-form" [ngClass]="showMenuFilter ? 'col-md-3 show' : 'col-md-1 hide'">
    <div class="container">
      <div class="col-sm-12" >
        <filter [address]="addressSearch" (responseProperties)="propertiesReceived($event)"></filter>
        <!-- <div class="row">
          <div class="row">
            <div class="col-md-12 form-style">
              <select class="form-control" (change)="furnishingFilter($event.target.value)">
                <option selected disabled>Furnished Type</option>
                <option value="fully_furnished">Fully Furnished</option>
                <option value="semi_furnished">Semi Furnished</option>
                <option value="un_furnished">Unfurnished Furnished </option>
              </select>
            </div>
            <div class="col-md-12 form-style">
              <input list="hosting-plan" class="form-control" (keypress)="searchAddress()" [(ngModel)]="addressSelected"
                placeholder="Location" type="text">
              <datalist id="hosting-plan">
                <option *ngFor="let add of  addressList" [value]="add"></option>
              </datalist>
            </div>
            <div class="col-md-12 form-style">
              <input list="bedroomlist" type="text" (change)="bedroomsFilter($event.target.value)" class="form-control "
                id="name" placeholder="Number of bedrooms" required>
              <datalist id="bedroomlist">
                <option value="" selected disabled>Select BHK</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </datalist>
            </div>
            <div class="col-md-12 form-style">
              <select class="form-control" (change)="bathroomFilter($event.target.value)" id="bedrooms">
                <option value="default" selected disabled>Number of washrooom</option>
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
            </div>
            <div class="col-md-12 form-style">
              <select class="form-control" (change)="garageFilter($event.target.value)" id="parkling">
                <option selected disabled value="">Parking</option>
                <option value="car">Car</option>
                <option value="bike">Bike</option>
                <option value="car_bike">Car and Bike</option>
              </select>
            </div>
          </div>
          <div class="col-md-12 form-style">
            <div class="price-text">
              <label style="font-size: 12px;" for="roomsizeRangeP">Builtup area:</label>
              <input type="range" style="width: 40%;" (change)="sizeFilter($event.target.value)" class="rangestyle"
                min="0" max="5000" id="size">
              <label style="font-size: 12px;" for="priceRangeP">0 TO </label><input
                style="width: 25%;font-size: 12px;background-color: white; border: 0;" type="text" value="{{size}}" />
            </div>
          </div>
          <div class="col-md-12  form-style">
            <div class="price-text">
              <label style="font-size: 12px;" for="priceRangeP">Monthly Rental:</label>
              <input type="range" style="width: 40%;" class="rangestyle" (change)="priceFilter($event.target.value)"
                min="0" max="100000" id="price">
              <label style="font-size: 12px;" for="priceRangeP">0 TO </label><input
                style="width: 25%;font-size: 12px;background-color: white; border: 0;" type="text" value="{{price}}" />
            </div>
          </div>
          <div class="col-md-12  form-style">
            <button style="width: 100%;" type="button" class="search-btn" (click)="filter()">Search</button>
          </div>
        </div> -->
      </div>
    </div>
  </section>
  <!-- Search Form Section End -->
  <!-- How It Works Section Begin -->
  <section class="howit-works" [ngClass]="showMenuFilter ? 'col-md-8' : 'col-md-11 ml-7'">
    <div class="container" style="padding-left: 3%;">
      <div class="row">
        <div *ngIf="numberOfProperties==0" class="col-lg-12">
          <div class="section-title">
            <span>No Property Found</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="property-list">
            <div class="single-property-item" *ngFor="let property of properties;  let i = index">
              <div class="row propertyList">
                <div class="col-md-12">
                  <div style="font-size: 18px;
                  padding-bottom: 2%;
                  font-weight: bold;
                  border-bottom: 1px solid;
                  margin-bottom: 2%;" class="properties-location"><i class="icon_pin"></i>
                    {{property.name}} For Rent In {{property.locality}}
                    <a style="font-size: 14px;float: right;color: #218838;;
                    cursor: pointer;" (click)="showPropertyDetails(property.id)"> More details</a></div>
                </div>
                <div class="col-md-4">
                  <div id="{{'carouselExampleIndicators'+property.id}}" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item" *ngFor="let imageCarasoule of property.images; let i=index;"
                        [ngClass]="{'active' : i==0}">
                        <a target="_blank" href="./assets/properties/{{imageCarasoule.imageName}}"><img width="300" height="200" class="d-block w-100"
                          src="./assets/properties/{{imageCarasoule.imageName}}" alt="Second slide"></a>
                      </div>
                    </div>
                    <a class="carousel-control-prev" href="{{'#carouselExampleIndicators'+property.id}}" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="{{'#carouselExampleIndicators'+property.id}}" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
                  <!-- <div class="property-pic"><i class="fa fa-arrow-left" aria-hidden="true"></i>

                  <img src="{{property.frontImage}}" alt=""><i class="fa fa-arrow-right" aria-hidden="true"></i>

                </div> -->
                </div>
                <div class="col-md-8">
                  <div class="property-text">
                    <div class="s-text" style="background: #218838;">Available</div>
                    <div class="room-price">
                      <span style="font-size: 14px;">Property Id: {{property.id}}</span>
                      <br>
                      <span style="font-size: 14px;">Monthly Rental</span>
                      <h5 style="font-size: 14px;color: #218838;">{{property.price}} INR/month</h5>
                    </div>

                    <!-- <div class="properties-location">Owner: {{property.ownerName}}</div>
                    <div>Phone: {{property.phoneNumber}}<a (click)="modelClick()" class="phoneNumberAnchor"> (View)</a>
                    </div> -->
                    <!-- <br> -->
                    <ul class="room-features">
                      <li style="font-size: 14px;">
                        <i style="color: purple;" class="fa fa-arrows"></i>
                        <p>{{property.area}} sqft</p>
                      </li>
                      <li style="font-size: 14px;">
                        <i style="color: purple;" class="fa fa-bed"></i>
                        <p>{{property.bedroom}} Bed Room</p>
                      </li>
                      <li style="font-size: 14px;" *ngIf="property.parking">
                        <i style="color: purple;" class="fa fa-car"></i>
                        <p>{{property.parking}} Parking</p>
                      </li>
                      <li style="font-size: 14px;">
                        <i style="color: purple;" class="fa fa-bath"></i>
                        <p>{{property.washroom}} Washroom</p>
                      </li>
                    </ul>
                    <div class="row" style="padding-top: 5%;">
                      <div class="col-xs-3 col-md-4">
                        <button style="background-color: purple;font-size: 14px;"
                          (click)="modelClick(property.phoneNumber,'phoneNumber')"
                          class="btn btn-success btnstyle">Contact Us</button>
                      </div>
                      <div class="col-xs-3 col-md-4">
                        <button style="background-color: purple;font-size: 14px;" (click)="shortList(property.id)"
                          class="btn btn-success btnstyle">
                          Shortlist
                        </button>
                      </div>
                      <div class="col-xs-3 col-md-4">
                        <button style="background-color: purple;font-size: 14px;" (click)="modelClick1(property.id)"
                          class="btn btn-success btnstyle">
                          Appointment
                        </button>
                      </div>
                    </div>
                    <div id="myModal1" class="{{modelClass1}}">
                     <div class="modal-content1">
                        <span class="close1" (click)="closeModal1()">
                            <input type="image" height="30" width="30" (click)="closeModal1()" src="./assets/img/icons/close.png">
                        </span>
                        <appointment style="padding-bottom: 2%" [propertyId]="property.id" (loginDetails)="loginDetailsReceived($event)">
                          </appointment>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
            </div>
          </div>
          <!-- <div class="property-pagination">
            <a href="#">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
          </div> -->
        </div>
      </div>
    </div>


    <div id="myModal" class="{{modelClass}}">

      <!-- Modal content -->
      <div class="modal-content">
        <span class="close1" (click)="closeModal()">
            <input type="image" height="30" width="30" (click)="closeModal()" src="./assets/img/icons/close.png">

        </span>
        <h3 *ngIf="callModal" style="text-align: center;margin-top: 8%;">Thanks for choosing us</h3>
        <p style="
        margin-top: 10%;
    text-align: center;font-size: 20px;"> {{messageModal}}</p>
      </div>

    </div>





  </section>
  <div id="myModal3" class="{{modelClass3}}">
    <!-- Modal content -->
    <div class="modal-content3">
      <div>
        <span class="close" (click)="closeModal3()">
            <input type="image" height="30" width="30" (click)="closeModal3()" src="./assets/img/icons/close.png">
        </span>
        <userLogin style="padding-bottom: 2%"  [redirect]="false" (loginDetails)="loginDetailsReceived($event)"></userLogin>
      </div>
    </div>
  </div>
</div>
<div id="myModal5" class="{{modelClass5}}">
  <!-- Modal content -->
  <div class="modal-content5">
    <span class="close" style="padding: 3%;" (click)="closeModal5()">
        <input type="image" height="30" width="30" (click)="closeModal5()" src="./assets/img/icons/close.png">
      </span>
    <div *ngIf="isvalidSearch" class="spinner-border"></div>
    <div style="padding: 12%;
    background: white;
    color: black;" *ngIf="!isvalidSearch">No property Matching your requirements</div>
  </div>
</div>
<div id="myModal6" class="{{modelClass6}}">
  <!-- Modal content -->
  <div class="modal-content6">
    <div class="spinner-border"></div>
  </div>
</div>
<!-- How It Works Section End -->

<!-- Feature Section Begin -->

<!-- Feature Section End -->
<footer></footer>
