<navigation></navigation>
<!-- Header End -->
<div class="backgroundBody">
    <div class="tagline">
        Zero Brokerage Rental Site.
      </div>
  <div class="col-md-6 searchBar">
    <div class="row uppersearch" >
      <button style="border-right: 1px solid;" class="tablink smalltab" [ngClass]="defaultBuyClass ? 'defaultBuyClass' : ''" id="Buy" (click)="openTab('Buy')">Buy</button>
    <button style="border-right: 1px solid;" class="tablink smalltab" #buttontest id="buttontest" [ngClass]="defaultRentClass ? 'defaultRentClass' : ''" (click)="openTab('Rent')">Rent</button>
      <button class="tablink smalltab" [ngClass]="defaultCommercialClass ? 'defaultCommercialClass' : ''" (click)="openTab('Commercial')">Commercial</button>
    </div>
    <div class="input-group">
      <div class="input-group-prepend input-group-prepend-search" style="    border-radius: 8px 0px 0px 0px;margin-right: -66px;    border: 1px solid;">
        <input list="cityList" type="text" (change)="selectCity($event.target.value)" style="background: whitesmoke;border: none;
              border-radius: 1px;height:50px;border-radius: 8px 0px 0px 0px;width: 70%;" class="form-control" placeholder="Select city">
          <datalist id="cityList">
          <option value="" selected disabled>Select City</option>
          <option value="Delhi">Delhi</option>
          <option value="NCR">NCR</option>
          <option value="Mumbai">Mumbai</option>
          <option value="Bangalore">Bangalore</option>
          <option value="Chennai">Chennai</option>
          <option value="Hyderabad">Hyderabad</option>
          <option value="Pune">Pune</option>
          <option value="Kolkata">Kolkata</option>
          <option value="Ahmedabad">Ahmedabad</option>
          <option value="Chandigarh">Chandigarh</option>
          <option value="Jaipur">Jaipur</option>
          <option value="Nagpur">Nagpur</option>
          <option value="Bhubaneswar">Bhubaneswar</option>
          <option value="Coimbatore">Coimbatore</option>
          <option value="Goa">Goa</option>
          <option value="Indore">Indore</option>
          <option value="Kerala">Kerala</option>
          <option value="Lucknow">Lucknow</option>
          <option value="Surat">Surat</option>
          <option value="Vadodara">Vadodara</option>
          <option value="Dehradun">Dehradun</option>
          <option value="Patna">Patna</option>
          <option value="Nasik">Nasik</option>
          <option value="Bhopal">Bhopal</option>
          <option value="Visakhapatnam">Visakhapatnam</option>
          <option value="Kanpur">Kanpur</option>
          <option value="Varanasi">Varanasi</option>
          <option value="Vijayawada">Vijayawada</option>
          <option value="Mysore">Mysore</option>
          <option value="Ranchi">Ranchi</option>
          <option value="Raipur">Raipur</option>
          <option value="Mangalore">Mangalore</option>
          <option value="Vapi">Vapi</option>
          <option value="Rajkot">Rajkot</option>
          <option value="Trichy">Trichy</option>
          <option value="Madurai">Madurai</option>
          <option value="Hubli">Hubli</option>
          <option value="Allahabad">Allahabad</option>
          <option value="Pondicherry">Pondicherry</option>
          <option value="Agra">Agra</option>
          <option value="Ludhiana">Ludhiana</option>
          <option value="Amritsar">Amritsar</option>
          <option value="Jalandhar">Jalandhar</option>
          <option value="Udaipur">Udaipur</option>
          <option value="Jodhpur">Jodhpur</option>
          <option value="Gwalior">Gwalior</option>
          <option value="Jabalpur">Jabalpur</option>
          <option value="Aurangabad">Aurangabad</option>
          <option value="Dubai">Dubai</option>
          <option value="Kolhapur">Kolhapur</option>
          <option value="Dharwad">Dharwad</option>
          <option value="Belgaum">Belgaum</option>
          <option value="Ratnagiri">Ratnagiri</option>
          <option value="Jamshedpur">Jamshedpur</option>
          <option value="Guwahati">Guwahati</option>
          <option value="Karnal">Karnal</option>
          <option value="Panipat">Panipat</option>
          <option value="Sonipat">Sonipat</option>
          <option value="Meerut">Meerut</option>
          <option value="Haridwar">Haridwar</option>
          <option value="Mathura">Mathura</option>
          <option value="Durgapur">Durgapur</option>
          <option value="Guntur">Guntur</option>
          <option value="Salem">Salem</option>
          <option value="Anand">Anand</option>
          <option value="Nadiad">Nadiad</option>
          <option value="Bharuch">Bharuch</option>
          <option value="Valsad">Valsad</option>
          <option value="Daman">Daman</option>
          <option value="Diu">Diu</option>
          <option value="Ujjain">Ujjain</option>
        </datalist>
      </div>
      <input list="localityList" type="text" [(ngModel)]="address" (click)="showMore()" style="background: #FFFFFF;
          border: none;    border: 1px solid;
          border-left: 1px solid;height:52px;width: 120%;" class="form-control " id="Country" placeholder="Locality">
      <datalist id="localityList">
        <option value="" selected disabled>Select BHK</option>
        <option *ngFor="let localityData of  localityDropdown" [value]="localityData">{{localityData}}</option>
      </datalist>
      <div class="input-group-prepend" style="border: 1px solid;border-radius: 0px 8px 0px 0px;">
        <button (click)="searchFilter()" style="border-radius: 1px;height:50px;background: green;color: white;border-radius: 0px 8px 0px 0px;" class="form-control"><i
            class="fa fa-search"></i> &nbsp; Search
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="showSecondarySearch && defaultRentClass" class="col-md-6 searchBarSecondary">
    <div class="row" style="background: whitesmoke;
    border-top: 1px solid cornflowerblue;
    border-radius: 0px 0px 10px 10px;">
      <div class="col-md-6" style="padding:2%">
        <input type="radio" [(ngModel)]="type" id="flat" name="type" value="flat">
        <label for="flat">Flat</label>&nbsp;
        <input type="radio" [(ngModel)]="type"  id="row_house" name="row_house" value="row_house">
        <label for="row_house">Row House</label>&nbsp;
        <input type="radio" [(ngModel)]="type"  id="pg" name="type" value="pg">
        <label for="pg">PG</label>&nbsp;
        <input type="radio" [(ngModel)]="type"  id="hostel" name="type" value="hostel">
        <label for="hostel">Hostel</label>&nbsp;
      </div>
      <div class="col-md-6" style="padding:2%">
        <div class="input-group">
          <div class="input-group-prepend input-group-prepend-custom">
            <i class="fa fa-sliders"></i>
          </div>
          <select class="form-control" (change)="priceFilter($event.target.value)" id="bedrooms">
            <option selected disabled value="">Rent Range</option>
            <option value="1001,5000">1001-5000</option>
            <option value="5001,10000">5001-10000</option>
            <option value="10001,15000">10001-15000</option>
            <option value="15001,20000">15001-20000</option>
            <option value="&gt;20000">&gt; 20000</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="showSecondarySearch && defaultBuyClass" class="col-md-6 searchBarSecondary">
    <div class="row" style="background: whitesmoke;
    border-top: 1px solid cornflowerblue;
    border-radius: 0px 0px 10px 10px;">
     
      <div class="col-md-4" style="padding:2%">
        <div class="input-group">
          <div class="input-group-prepend input-group-prepend-custom">
          </div>
          <select class="form-control" (change)="BHKFilter($event.target.value)" id="bedrooms">
            <option selected disabled value="">BHK Type</option>
            <option value="1 BHK">1+ BHK</option>
            <option value="2 BHK">2+ BHK</option>
            <option value="3 BHK">3+ BHK</option>
            <option value="4 BHK">4+ BHK</option>
          </select>
        </div>
      </div>
      <div class="col-md-4" style="padding:2%">
        <div class="input-group">
          <div class="input-group-prepend input-group-prepend-custom">
          </div>
          <select class="form-control" (change)="propertyStatusFilter($event.target.value)" id="bedrooms">
            <option selected disabled value="">Property Status</option>
            <option value="Under Construction">Under Construction</option>
            <option value="Ready To Move">Ready To Move</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="showSecondarySearch && defaultCommercialClass" class="col-md-6 searchBarSecondary">
    <div class="row" style="background: whitesmoke;
    border-top: 1px solid cornflowerblue;
    border-radius: 0px 0px 10px 10px;">
     <div class="col-md-3" style="padding:2%">
      <input type="radio" [(ngModel)]="type" id="rent" name="type" value="rent">
      <label for="rent">Rent</label>&nbsp;&nbsp;&nbsp;
      <input type="radio" [(ngModel)]="buy"  id="buy" name="buy" value="buy">
      <label for="buy">Buy</label>&nbsp;
    </div>

      <div class="col-md-5" style="padding:2%;">
         
        <ng-multiselect-dropdown [placeholder]="'Property Type'" [data]="dropdownListPropertyType"
         [(ngModel)]="selectedPropertyType"
        (onSelect)="onSelectProperType($event)" (onDeSelect)="OnDeSelectPropertyType($event)"
        [settings]="dropdownSettingsPropertyType" (onSelectAll)="onSelectAllPropertyType($event)" (onDeSelectAll)="onDeSelectAllPropertyType($event)"
        >
      </ng-multiselect-dropdown>
    </div>
     
    </div>
  </div>
  <div style="padding-left: 43%; padding-top:2%;" class="tagline postTagline">
      <p style="color:black">- - - - For Property Owners - - - -</p>
      <button (click)="navigateTo('properties_registration')" style="margin-left: 12%" class="btn btn-success"> Post
        Your Property</button>
    </div>
  <!-- <div class="tagline">
    Zero Brokerage Rental Site.
  </div>
  <div class="mainsearch">
    <div class="outer-search">
      <div class="row inner-search">
        <div class="col-md-3 align" style="z-index: 100;">
          <select class="alignSelect" (change)="priceFilter($event.target.value)" id="bedrooms">
            <option selected disabled value="">Rent Range</option>
            <option value="1001,5000">1001-5000</option>
            <option value="5001,10000">5001-10000</option>
            <option value="10001,15000">10001-15000</option>
            <option value="15001,20000">15001-20000</option>
            <option value="&gt;20000">&gt; 20000</option>
          </select>
        </div>
        <div class="col-md-3 align">
          <input list="hosting-plan" class="alignSelect" (input)="searchAddress($event.target.value)"
            [(ngModel)]="addressSelected" placeholder="Enter City/Locality" type="text" />
          <datalist id="hosting-plan" *ngFor="let add of  addressList">
            <option value="{{add}}">{{add}}</option>
          </datalist>
        </div>
        <div class="col-md-3 align" style="z-index: 100;">
          <select class="alignSelect" (change)="propertyTypeFilter($event.target.value)" id="bedrooms">
            <option selected disabled value="">Property Types</option>
            <option value="flat">Flat</option>
            <option value="row_house">Row House</option>
            <option value="pg">PG</option>
            <option value="hostel">Hostel</option>
          </select>
        </div>
        <div class="col-md-3 align">
          <button class="searchButton" (click)="submit()"> SEARCH</button>
        </div>
      </div>
      <div style="padding-left: 20%" class="tagline">
        <p style="color:white">- - - - For Property Owners - - - -</p>
        <button (click)="navigateTo('properties_registration')" style="margin-left: 12%" class="btn btn-success"> Post
          Your Property</button>
      </div>
    </div>
  </div> -->
</div>

<section class="howit-works spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title">
          <span>Find Your Dream House</span>
          <h2>How It Works</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <div class="single-howit-works">
          <i class="fa fa-money" style="color: #2CA955;font-size: 100px"></i>
          <h4>Zero Brokerage</h4>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="single-howit-works">
          <i class="fa fa-home" style="color: purple;font-size: 100px"></i>
          <h4>Add property for free</h4>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="single-howit-works">
          <i class="fa fa-handshake-o" style="color: purple;font-size: 100px"></i>
          <h4>Dedicated Relationship Manager</h4>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="single-howit-works">
          <i class="fa fa-check" style="color: #2CA955;font-size: 100px"></i>
          <h4>Verified Owner/Tenants</h4>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title">
          <h2>Why OwnerTenants ?</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <div class="single-howit-works">
          <img width="200" height="200" src="./assets/img/icons/nb.jpg">
          <h4>Broker Free</h4>
          <p>No mediator or broker involved direct
            interaction with owner with schedule appointment facility</p>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="single-howit-works">
          <img width="200" height="200" src="./assets/img/icons/callassistance.png">
          <h4>Call Assistant</h4>
          <p>We are here to help you we provide call support as every customer is important for us</p>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="single-howit-works">
          <img width="200" height="200" src="./assets/img/icons/manageProperties.png">
          <h4>Manage Properties Free</h4>
          <p>Now you can directly manage all your property on a single click. It's easy to use and easy to manage </p>

        </div>
      </div>
      <div class="col-lg-3">
        <div class="single-howit-works">
          <img width="200" height="200" src="./assets/img/icons/SECURITY.png">
          <h4>Data Security</h4>
          <p>Your details remain safe with us we dont share user data with other third party brokers</p>

        </div>
      </div>
    </div>
  </div>
</section>
<div id="myModal5" class="{{modelClass5}}">
  <!-- Modal content -->
  <div class="modal-content5">
    <span class="close" style="padding: 3%;" (click)="closeModal5()">&times;</span>
    <div style="padding: 12%;
      background: white;
      color: black;">Please select at least one filter in search</div>
  </div>
</div>
<footer></footer>
