<navigation></navigation>
<section class="property-section">
  <div class="container userDisplay shadow">
    <div class="row">
      <div class="col-lg-3 formStyle">
        <div class="property-sidebar">
          <h4 style="text-align: center;">User Registration</h4>
          <div class="form-row">
            <div class="col-md-4 mb-5">
              <select class="form-control" (change)=typeSelected($event.target.value) id="exampleFormControlSelect1">
                <option value="" selected disabled>Select Type</option>
                <option value="owner">Owner</option>
                <option value="tenant">Tenant</option>
              </select>
            </div>
            <div class="col-md-4 mb-5 ">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroupPrepend3">@</span>
                </div>
                <input type="text" [(ngModel)]="userName" (focusout)="focusout('userName',$event)"
                  class="form-control is-{{userNameIsValid}}" id="validationServerUsername" placeholder="Username"
                  aria-describedby="inputGroupPrepend3" required>
                <div *ngIf="userNameIsValid" class="{{userNameIsValid}}-feedback">
                  {{messageUserName}}
                </div>
              </div>
            </div>
            <div class="col-md-4 mb-5 ">
              <input type="text" (click)="validateUsername()" [(ngModel)]="firstName" class="form-control"
                id="validationServer01" placeholder="First name" value="Mark" required>
            </div>
            <div class="col-md-4 mb-5 ">
              <input type="text" [(ngModel)]="lastName" class="form-control" id="validationServer02"
                placeholder="Last name" value="Otto" required>
            </div>

            <div class=" col-md-4 mb-5 ">
              <input type="email" [(ngModel)]="email" (focusout)="focusout('email',$event)"
                class="form-control is-{{emailIsValid}}" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Enter email">
            </div>
            <div class="col-md-4 mb-5 ">
              <input type="email" [(ngModel)]="phoneNumber" (focusout)="focusout('phone',$event)" class="form-control"
                id="exampleInputPhone1" aria-describedby="phoneHelp" placeholder="Enter phone number">
            </div>
            <div class="col-md-4 mb-5 ">
              <input type="password" [(ngModel)]="password" class="form-control" id="exampleInputPassword1"
                placeholder="Password">
            </div>
            <div class="col-md-4 mb-5 ">
              <input type="text" [(ngModel)]="confirmPassword" (focusout)="focusout('confirmPassword',$event)"
                class="form-control is-{{confirmPasswordIsValid}}" id="exampleInputPasswordConfirm1"
                placeholder="Confirm Password">
              <div *ngIf="confirmPasswordIsValid=='invalid'" class="{{confirmPasswordIsValid}}-feedback">
                Password and confirm passowrd does not match
              </div>
            </div>
          </div>
          <!-- <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="invalidCheck3" required>
            <label class="form-check-label" for="invalidCheck3">
              Agree to terms and conditions
            </label>
          </div> -->
          <!-- <label class="form-check-label" for="invalidCheck3">
            {{message}}
          </label> -->
          <button style="margin-left: 45%; margin-bottom: 5%" type="submit" class="btn btn-primary btnsubmit"
            (click)="submit()">Submit</button>
          <alert></alert>
        </div>
      </div>
    </div>
  </div>
  <div id="myModal1" class="{{modelClass1}}">
    <!-- Modal content -->
    <div class="modal-content1">
      <span class="close" (click)="closeModal1()">&times;</span>
      {{messageResponse}}
    </div>
  </div>
</section>
<footer></footer>
<div *ngIf="spinner" class="spinnerAngular">
  <div class="spinner-border spinnerStyle" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
