.registration {
  width: 40%;
  margin-left: 32%;
  margin-bottom: 5%;
  margin-top: 5%
}

@media only screen and (max-width: 991px) {
  .registration {
    width: 70%;
    margin-left: 15%;
    margin-bottom: 7%;
    margin-top: 20%;
  }
}