
.modal6 {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}
.modalDisplay6 {
  display: block;
  position: fixed;
  z-index: 100;
  top: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6)
}
.mobileHeight{
  border: 1px solid;
  padding: 2%;
  height: 400px;
  padding-left: 3%;
  padding-right: 3%;
}
.modal-content6 {
  margin-left: 50%;
  margin-top: 11%;
  position: fixed;
  color: white;
  width: 31%;
  /* Could be more or less, depending on screen size */
}
/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

.modal1 {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 8% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  height: auto;
  width: 30% !important;
  /* Could be more or less, depending on screen size */
}
.modal-content1{    background-color: #fefefe;
    margin: 8% auto;
    /* padding: 20px; */
    border: 1px solid #888;
    height: auto;
    width: 33% !important;
    /* width: 30% !important; */
}


/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close1 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  float: right;
  margin-left: 30%;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.close1:hover,
.close1:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.modalDisplay {
  display: block;
  position: fixed;
  z-index: 100;
  /* left: 25%; */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,.6);
}
.modalContent{
  text-align: center;
  margin-top: 0%;
  font-size: 138%;
}
.modalContent1{
  text-align: center;
  margin-top: 0%;
  font-size: 138%;
}
.modalDisplay1 {
  display: block;
  position: fixed;
  z-index: 100000;
  /* left: 30%; */
  /* top: 0%; */
  background: rgba(0,0,0,0.6);
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.formStyle {
  flex: 1 0 0;
  width: 100%;
  max-width: 100%;
}
label{
  margin-left: 2%;
  margin-top: 2%;
}

/* Code By Webdevtrick ( https://webdevtrick.com ) */
.container {
  padding: 50px 10%;
}

.box {
  position: relative;
  background: #ffffff;
  width: 100%;
}

.box-header {
  color: #444;
  display: block;
  padding: 10px;
  position: relative;
  border-bottom: 1px solid #f4f4f4;
  margin-bottom: 10px;
}

.box-tools {
  position: absolute;
  right: 10px;
  top: 5px;
}

.dropzone-wrapper {
  border: 2px dashed #91b0b3;
  color: #92b0b3;
  position: relative;
  height: 150px;
}

.dropzone-desc {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  width: 40%;
  top: 50px;
  font-size: 16px;
}

.dropzone,
.dropzone:focus {
  position: absolute;
  outline: none !important;
  width: 100%;
  height: 150px;
  cursor: pointer;
  opacity: 0;
}

.dropzone-wrapper:hover,
.dropzone-wrapper.dragover {
  background: #ecf0f5;
}

.preview-zone {
  text-align: center;
}

.preview-zone .box {
  box-shadow: none;
  border-radius: 0;
  margin-bottom: 0;
}

.btn-primary {
  background-color: crimson;
  border: 1px solid #212121;
}

.register {
  background-color: rgba(0, 0, 0, 0.78);
  color: white;
  padding: 3%;
}

.btnupload {
  display: block;
  /* height: 100px; */
  /* height: calc(1.5em + .75rem + 2px); */
  padding: .375rem .75rem;
  /* font-size: 1rem; */
  /* font-weight: 400; */
  /* line-height: 1.5; */
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.shadow {
  -moz-box-shadow: 3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow: 3px 3px 5px 6px #ccc;
}
.spinnerAngular{
  background: rgba(0,0,0,.6);
    position: fixed;
    width: 100%;
    top: 0;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}
.spinnerStyle{
  color: white;
    margin-left: 50%;
    margin-top: 22%;
}

.shadowbig {
  -moz-box-shadow: 3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow: 3px 3px 5px 6px #ccc;
  width: 90%;

}

.reg1 {
  width: 100%;
  text-align: center;
  padding-top: 3%;

}

@media only screen and (max-width: 991px) {
  .submitbtn {
    margin-left: 35% !important;
  }
  .slidernext{
    padding-bottom: 15% !important;
    padding-right: 0;
    padding-left: 0;
  }
  .btnlastnext{
    width: 35%;
  }
  .modal-content{
    width: auto!important;
  }
  .reg1 {
    padding-top: 5%;
    text-align: center;
    margin-top: 10%;
  }
}








.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

h1 {
  font-family: inherit;
  margin: 0 0 .75em 0;
  color: #728c8d;
  text-align: center;
}

.box {
  display: block;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  overflow: hidden;
}

.upload-options {
  position: relative;
  height: 145px;
  background: center;
  background-image: url('/assets/img/icons/upload.png');
  background-size: 157%;
  cursor: pointer;
  overflow: hidden;
  text-align: center;
  -webkit-transition: background-color ease-in-out 150ms;
  transition: background-color ease-in-out 150ms;
}
.upload-options:hover {
  background-color: #7fb1b3;
}
.upload-options input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.upload-options label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  overflow: hidden;
}
/* .upload-options label::after {
  content: 'add';
  font-family: 'Material Icons';
  position: absolute;
  font-size: 2.5rem;
  color: #e6e6e6;
  top: calc(50% - 2.5rem);
  left: calc(50% - 1.25rem);
  z-index: 0;
} */
.upload-options label span {
  display: inline-block;
  width: 50%;
  height: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
  text-align: center;
}
.upload-options label span:hover i.material-icons {
  color: lightgray;
}

.js--image-preview {
  height: 225px;
  width: 100%;
  position: relative;
  overflow: hidden;
  /* background-image: url(""); */
  background-color: white;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.js--image-preview::after {
  content: "photo_size_select_actual";
  font-family: 'Material Icons';
  position: relative;
  font-size: 4.5em;
  color: #e6e6e6;
  top: calc(50% - 3rem);
  left: calc(50% - 2.25rem);
  z-index: 0;
}
.js--image-preview.js--no-default::after {
  display: none;
}

i.material-icons {
  -webkit-transition: color 100ms ease-in-out;
  transition: color 100ms ease-in-out;
  font-size: 2.25em;
  line-height: 55px;
  color: white;
  display: block;
}
.invalid{
  color: red;
}

.drop {
  display: block;
  position: absolute;
  background: rgba(95, 158, 160, 0.2);
  border-radius: 100%;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.animate {
  -webkit-animation: ripple 0.4s linear;
          animation: ripple 0.4s linear;
}
.mobileamenities{
  width:87%;
}
@-webkit-keyframes ripple {
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
            transform: scale(2.5);
  }
}

@keyframes ripple {
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
            transform: scale(2.5);
  }
}

@media only screen and (max-width: 991px) {
  .modal-content1 {
    background-color: #fefefe;
    margin-left: 10%;
    margin-top: 20%;
    border: 1px solid #888;
    width: 63% !important;
    margin-bottom: 4%;
    box-shadow: none !important;
  }
  .mobileamenities{
    width:82% !important;
  }
  .mobileHeight{
    border: 1px solid;
    padding: 2%;
    height: auto;
    padding-left: 3%;
    padding-right: 3%;
  }
  .upload-options {
    background-size: 111%;
    height: 165px;
  }
}