<navigation></navigation>
<section class="property-section">


  <form [formGroup]="myForm" (ngSubmit)="submit()">
    <div class="row">
      <div class="col-md-6" style="padding: 5%;">
        <h4 style="padding: 2%;">Rent Your Property</h4>
        <div class="form-row" style="padding: 3%;">
          <div class="col-md-12 mb-2">
            <label for=name>Name</label>
            <div class="input-group">
              <input type="text" [value]="name"  style="border-radius: inherit; border-top:none;border-left:none;border-right:none;"
                class="form-control " id="name" >
            </div>
          </div>
          <div class="col-md-12 mb-2">
            <label for=name>Phone Number</label>
            <div class="input-group">
              <input type="text" style="margin-right: 2%;border-bottom: 1px solid;
              border-color: #CED4DA;border-radius: inherit; border-top:none;border-left:none;border-right:none;"
                id="countryCode" placeholder="IND +91" disabled >

              <input type="text" style="border-radius: inherit; border-top:none;border-left:none;border-right:none;"
                formControlName="phoneNumber" [value]="phone_number" class="form-control " id="phoneNumber" >
            </div>
          </div>
          <div class="col-md-12 mb-2">
            <label for=name>Email</label>
            <div class="input-group">
              <input type="text" [value]="email" style="border-radius: inherit; border-top:none;border-left:none;border-right:none;"
                 class="form-control " id="email" >
            </div>
          </div>
        </div>
        <h4 style="padding: 2%;">Property Details</h4>
        <div class="form-row" style="padding: 3%;">
          <div class="col-md-12 mb-2">
            <div *ngIf="submitted && f.name.errors" class="invalid">
              <div *ngIf="f.name.errors.required">BHK is required</div>
          </div>
            <div class="input-group">
             
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupPrepend3"><i class="fa fa-home"></i></span>
              </div>
              <input list="bhk" type="text" formControlName="name" class="form-control " id="name" placeholder="BHK"
                required>
              <datalist id="bhk">
                <option value="" selected disabled>Select BHK</option>
                <option value="1RK">1RK</option>
                <option value="Studio">Studio</option>
                <option value="1BHK">1BHK</option>
                <option value="2BHK">2BHK</option>
                <option value="3BHK">3BHK</option>
                <option value="4BHK">4BHK</option>
                <option value="5BHK">5BHK</option>
              </datalist>
            </div>
          </div>
          <div class="col-md-12 mb-2">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupPrepend3"><i class="fa fa-bed"></i></span>
              </div>
              <input list="bedroomlist" type="text" formControlName="bedroom" class="form-control " id="name"
                placeholder="Number of bedrooms" >
              <datalist id="bedroomlist">
                <option value="" selected disabled>Select Bedrooms</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </datalist>
            </div>
          </div>
          <div class="col-md-12 mb-2">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupPrepend3"><i class="fa fa-bath"></i></span>
              </div>
              <select class="form-control" formControlName="washrooms" id="washrooms">
                <option value="" selected disabled>Number of washroom</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
          </div>

          <div class="col-md-12 mb-2">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupPrepend3"><i class="fa fa-arrows"></i></span>
              </div>
              <input type="number" formControlName="area" class="form-control " id="area" placeholder="Built up area(Sq.ft)">
            </div>
          </div>
          <div class="col-md-12 mb-2">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupPrepend3"><i
                    class="fa fa-american-sign-language-interpreting"></i></span>
              </div>
              <ng-multiselect-dropdown [placeholder]="'Select Amenities'"
                [data]="dropdownListamenities" formControlName="selectedItemsAmenities" class="mobileamenities"
                [(ngModel)]="selectedItemsAmenities" (onSelect)="onItemSelectAmenities($event)"
                (onDeSelect)="OnItemDeSelectAmenities($event)" (onSelectAll)="onSelectAllAmenities($event)"
                (onDeSelectAll)="onDeSelectAllAmenities($event)" [settings]="dropdownSettingsAmenities">
              </ng-multiselect-dropdown>
            </div>
          </div>
        </div>
        <div class="form-row" style="padding: 3%;">
          <div class="col-md-6 mb-2">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupPrepend3"><i class="fa fa-bed"></i></span>
              </div>
              <select class="form-control" formControlName="furnish">
                <option value="" selected disabled>Furnished Type</option>
                <option value="fully_furnished">Fully Furnished</option>
                <option value="semi_furnished">Semi Furnished</option>
                <option value="un_furnished">Unfurnished</option>
              </select>
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div *ngIf="submitted && f.propertyType.errors" class="invalid">
              <div *ngIf="f.propertyType.errors.required">PropType is required</div>
          </div>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupPrepend3"><i class="fa fa-building"></i></span>
              </div>
              <select class="form-control" formControlName="propertyType">
                <option value="" selected disabled>Property Type</option>
                <option value="flat">Flat</option>
                <option value="row_house">Row House</option>
                <option value="pg">PG</option>
                <option value="hostel">Hostel</option>
              </select>
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupPrepend3"><i class="fa fa-truck"></i></span>
              </div>
              <select class="form-control" formControlName="parking">
                <option value="" selected disabled>Parking</option>
                <option value="car">Car</option>
                <option value="bike">Bike</option>
                <option value="both">Car And Bike</option>
              </select>
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupPrepend3"><i class="fa fa-free-code-camp"></i></span>
              </div>
              <select class="form-control" formControlName="modular">
                <option value="" selected disabled>Modular Kitchen</option>
                <option value="yes">Yes</option>
                <option value="no">No</option>
              </select>
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div *ngIf="submitted && f.price.errors" class="invalid">
              <div *ngIf="f.price.errors.required">Monthly Rent is required</div>
          </div>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupPrepend3"><i class="fa fa-money"></i></span>
              </div>
              <input type="text" formControlName="price" class="form-control " id="price" placeholder="Monthly rentals(INR)"
                required>
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupPrepend3"><i class="fa fa-credit-card"></i></span>
              </div>
              <input type="text" formControlName="maintainance" class="form-control " id="maintainance"
                placeholder="Maintainance(INR)" >
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupPrepend3"><i class="fa fa-credit-card-alt"></i></span>
              </div>
              <input type="text" formControlName="security" class="form-control " id="security"
                placeholder="Security Deposit(INR)" >
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupPrepend3"><i class="fa fa-users"></i></span>
              </div>
              <ng-multiselect-dropdown style="width: 82%;" [placeholder]="'Select Allowed'" [data]="dropdownList"
                [(ngModel)]="selectedItems" formControlName="selectedItems" (onSelect)="onItemSelect($event)"
                (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)"
                (onDeSelectAll)="onDeSelectAll($event)" [settings]="dropdownSettings">
              </ng-multiselect-dropdown>
            </div>
          </div>
          <div class="col-md-12 mb-2">
            <textarea formControlName="description" class="form-control " id="description"
              placeholder="Property Description" ></textarea>
          </div>
        </div>
      </div>
      <div class="col-md-6" style=" padding: 5%;">
        <div style="background: purple;
        margin-bottom: 1%;">
          <h4 style="padding: 2%;
        color: white;
        font-size: 29px;
        padding-top: 3%;
        padding-left: 3%;
        padding-bottom: 8%;">Upload Images</h4>
        </div>
        <div class="form-group mobileHeight">
         <div *ngIf="submitted && f.ownerEmail.errors" class="invalid">
          <div *ngIf="f.ownerEmail.errors.required">Title is required</div>
      </div>
          <input formControlName="ownerEmail" id="ownerEmail" [(ngModel)]="email" type="hidden" class="form-control">
          <div class="form-group">
            <div class="row">
              <div class="col-md-3" *ngFor='let url of images; let i = index'>
                <i (click)="removeImage(i)" style="position: absolute;left: 1%;"
                  class="glyphicon glyphicon-remove">X</i>
                <img [src]="url" height="150" width="200px" style="margin: 3px;">
              </div>
              <div class="col-md-3" style="height: 150px;">
                <!-- <input formControlName="file" id="file" type="file" style=" margin-top: 31%!important; "
                  class="btnupload form-control" multiple="" (change)="onFileChange($event)"> -->
                <div class="box">
                  <div class="upload-options">
                    <label>
                      <input formControlName="file" type="file" class="image-upload" (change)="onFileChange($event)"
                        accept="image/*" />
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-row" style="padding: 3%;">
          <div class="col-md-12 mb-2">
            <input type="image" (click)="getGeoLocation()" style="width: 8%;
            margin-left: 45%;" src="./assets/img/location.png" />
          </div>
          <div class="col-md-12 mb-2">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupPrepend3"><i class="fa fa-map-marker"></i></span>
              </div>
              <input type="text" formControlName="latitude" [(ngModel)]="currentLat" class="form-control " id="Latitude"
                placeholder="Latitude" disabled>
            </div>
          </div>
          <div class="col-md-12 mb-2">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupPrepend3"><i class="fa fa-map-marker"></i></span>
              </div>
              <input type="text" formControlName="longitude" [(ngModel)]="currentLong" class="form-control "
                id="Longitude" placeholder="Longitude" disabled>
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div *ngIf="submitted && f.locality.errors">
              <div *ngIf="f.locality.errors.required" class="invalid">Locality is required</div>
          </div>
            <div class="input-group">
              
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupPrepend3"><i class="fa fa-street-view"></i></span>
              </div>
              <input type="text" formControlName="locality" class="form-control " id="Locality" placeholder="Locality">
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div *ngIf="submitted && f.city.errors">
              <div *ngIf="f.city.errors.required" class="invalid">City is required</div>
          </div>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupPrepend3"><i class="fa fa-google-wallet"></i></span>
              </div>
              <input list="cityList" type="text" formControlName="city" class="form-control " id="City" placeholder="City">
              <datalist id="cityList">
                <option value="" selected disabled>Select City</option>
                <option value="Delhi">Delhi</option>
                <option value="NCR">NCR</option>
                <option value="Mumbai">Mumbai</option>
                <option value="Bangalore">Bangalore</option>
                <option value="Chennai">Chennai</option>
                <option value="Hyderabad">Hyderabad</option>
                <option value="Pune">Pune</option>
                <option value="Kolkata">Kolkata</option>
                <option value="Ahmedabad">Ahmedabad</option>
                <option value="Chandigarh">Chandigarh</option>
                <option value="Jaipur">Jaipur</option>
                <option value="Nagpur">Nagpur</option>
                <option value="Bhubaneswar">Bhubaneswar</option>
                <option value="Coimbatore">Coimbatore</option>
                <option value="Goa">Goa</option>
                <option value="Indore">Indore</option>
                <option value="Kerala">Kerala</option>
                <option value="Lucknow">Lucknow</option>
                <option value="Surat">Surat</option>
                <option value="Vadodara">Vadodara</option>
                <option value="Dehradun">Dehradun</option>
                <option value="Patna">Patna</option>
                <option value="Nasik">Nasik</option>
                <option value="Bhopal">Bhopal</option>
                <option value="Visakhapatnam">Visakhapatnam</option>
                <option value="Kanpur">Kanpur</option>
                <option value="Varanasi">Varanasi</option>
                <option value="Vijayawada">Vijayawada</option>
                <option value="Mysore">Mysore</option>
                <option value="Ranchi">Ranchi</option>
                <option value="Raipur">Raipur</option>
                <option value="Mangalore">Mangalore</option>
                <option value="Vapi">Vapi</option>
                <option value="Rajkot">Rajkot</option>
                <option value="Trichy">Trichy</option>
                <option value="Madurai">Madurai</option>
                <option value="Hubli">Hubli</option>
                <option value="Allahabad">Allahabad</option>
                <option value="Pondicherry">Pondicherry</option>
                <option value="Agra">Agra</option>
                <option value="Ludhiana">Ludhiana</option>
                <option value="Amritsar">Amritsar</option>
                <option value="Jalandhar">Jalandhar</option>
                <option value="Udaipur">Udaipur</option>
                <option value="Jodhpur">Jodhpur</option>
                <option value="Gwalior">Gwalior</option>
                <option value="Jabalpur">Jabalpur</option>
                <option value="Aurangabad">Aurangabad</option>
                <option value="Dubai">Dubai</option>
                <option value="Kolhapur">Kolhapur</option>
                <option value="Dharwad">Dharwad</option>
                <option value="Belgaum">Belgaum</option>
                <option value="Ratnagiri">Ratnagiri</option>
                <option value="Jamshedpur">Jamshedpur</option>
                <option value="Guwahati">Guwahati</option>
                <option value="Karnal">Karnal</option>
                <option value="Panipat">Panipat</option>
                <option value="Sonipat">Sonipat</option>
                <option value="Meerut">Meerut</option>
                <option value="Haridwar">Haridwar</option>
                <option value="Mathura">Mathura</option>
                <option value="Durgapur">Durgapur</option>
                <option value="Guntur">Guntur</option>
                <option value="Salem">Salem</option>
                <option value="Anand">Anand</option>
                <option value="Nadiad">Nadiad</option>
                <option value="Bharuch">Bharuch</option>
                <option value="Valsad">Valsad</option>
                <option value="Daman">Daman</option>
                <option value="Diu">Diu</option>
                <option value="Ujjain">Ujjain</option>
              </datalist>
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupPrepend3"><i class="fa fa-map-marker"></i></span>
              </div>
              <input type="text" formControlName="state" class="form-control " id="State" placeholder="State">
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupPrepend3"><i class="fa fa-globe"></i></span>
              </div>
              <input type="text" value="India" formControlName="country" class="form-control " id="Country" placeholder="Country">
            </div>
          </div>
          <div class="col-md-12 mb-2">
            <textarea formControlName="address" class="form-control " id="address" placeholder="Address"
              ></textarea>
          </div>
        </div>
        <br />
        <div class="form-group" style="padding-left: 3%;padding-right: 3%;padding-bottom: 3%;">
          <h4 style="padding: 2%;">Address Proof</h4>
          <input formControlName="file" id="addressProof" type="file" class="btnupload form-control" multiple=""
            (change)="onFileChangeAddressProof($event)">
        </div>

        <!-- <button style="margin-left: 45%;" type="submit" class="btn btn-primary submitbtn">Submit</button> -->

      </div>
    </div>
    <div class="col-md-12 slidernext" style="padding-bottom: 3%;
  margin-left: 22%;">
    <button style="width: 50%;" type="submit" class="btn btn-success btnlastnext">Submit</button>
  </div>
  <alert></alert>
  </form>
  


</section>
<!-- <section class="property-section">
  <div class="container">
    <div class="row register">
      <div class="col-lg-3 formStyle">
        <div class="property-sidebar">
          <h4 style="color:white;">Add Property</h4>
           <form [formGroup]="myForm" (ngSubmit)="submit()"> 

          <hr>

          <hr>

          
      </form> 
        </div>
      </div>
    </div>
  </div>
</section> -->
<div id="myModal" class="{{modelClass}}">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    <div class="modalContent"> {{message}}</div>
  </div>
</div>
<div id="myModal1" class="{{modelClass1}}">
  <!-- Modal content -->
  <div class="modal-content1">
    <div class="modalContent1">  <userLogin style="padding-bottom: 2%" (loginDetails)="loginDetailsReceived($event)" [redirect]="false" >
    </userLogin></div>
  </div>
</div>
<footer></footer>
<div *ngIf="spinner" class="spinnerAngular">
  <div class="spinner-border spinnerStyle" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<div id="myModal6" class="{{modelClass6}}">
  <!-- Modal content -->
  <div class="modal-content6">
    <div class="spinner-border"></div>
  </div>
</div>