<navigation></navigation>
<!-- Hero Section Begin -->
<div class="row sectionAddress">
  <!-- <div class="col-md-12 "> -->
  <div style="border-right: 1px solid;text-align: center;" class="col-md-1">
    <i class="fa fa-home"></i>
  </div>
  <div style="text-align: center;" class="col-md-6">
    <h5> <i class="icon_pin"></i>{{properties.name}} {{properties.property_type}} for rent in {{properties.locality}}
    </h5>
  </div>
  <div style="border-left: 1px solid;text-align: center;" class="col-md-2">
    <h5> ₹ {{properties.price}} <i style="color:red;">*</i> + M
    </h5>
    <!-- </div> -->
  </div>
  <div style="border-right: 1px solid;
  border-left: 1px solid; text-align: center;" class="col-md-2">
    <h5> {{properties.area}}</h5> sqft

    <!-- </div> -->
  </div>

</div>
<div class="row" style="margin-right: 0;">
  <section class="hero-section col-md-7" style="margin-left: 5%;box-shadow: 1px 12px 19px 1px;padding-top: 1%;
  padding-bottom: 1%;">
    <div class="hero-items owl-carousel owl-loaded owl-drag">
      <div class="owl-stage-outer">
        <div class="owl-stage row">
          <div class="col-md-3" style="height: 100%;width: 100%;" *ngFor="let imageCarasoule of images; let i=index;">
            <a target="_blank" href="./assets/properties/{{imageCarasoule.imageName}}"><div *ngIf="imageCarasoule.imageName" class="imgBanner" style="background: #9796a1; margin: 1%;"><img height=200  src="./assets/properties/{{imageCarasoule.imageName}}"></div></a>
            <div *ngIf="!imageCarasoule.imageName" class="imgBanner"  style="text-align: center;
            padding-top: 45%;
            color: white;
            font-size: 23px;
            font-family: cursive;background: #9796a1; margin: 1%;height:200px;">No preview</div>
            <!-- <div *ngIf="imageCarasoule.imageName" ><img height=200 width=200 src="./assets/properties/{{imageCarasoule.imageName}}"></div>
            <div *ngIf="imageCarasoule.imageName" ><img height=200 width=200 src="./assets/properties/{{imageCarasoule.imageName}}"></div>
            <div *ngIf="imageCarasoule.imageName" ><img height=200 width=200 src="./assets/properties/{{imageCarasoule.imageName}}"></div>
            <div *ngIf="imageCarasoule.imageName" ><img height=200 width=200 src="./assets/properties/{{imageCarasoule.imageName}}"></div>
            <div *ngIf="imageCarasoule.imageName" ><img height=200 width=200 src="./assets/properties/{{imageCarasoule.imageName}}"></div>
            <div *ngIf="imageCarasoule.imageName" ><img height=200 width=200 src="./assets/properties/{{imageCarasoule.imageName}}"></div>
            <div *ngIf="imageCarasoule.imageName" ><img height=200 width=200 src="./assets/properties/{{imageCarasoule.imageName}}"></div>
            <div *ngIf="imageCarasoule.imageName" ><img height=200 width=200 src="./assets/properties/{{imageCarasoule.imageName}}"></div>
            <div *ngIf="imageCarasoule.imageName" ><img height=200 width=200 src="./assets/properties/{{imageCarasoule.imageName}}"></div>
            <div *ngIf="imageCarasoule.imageName" ><img height=200 width=200 src="./assets/properties/{{imageCarasoule.imageName}}"></div>
            <div *ngIf="imageCarasoule.imageName" ><img height=200 width=200 src="./assets/properties/{{imageCarasoule.imageName}}"></div> -->
          </div>
          <!-- <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <div *ngIf="properties.images!=undefined" class="carousel-inner">
              <div class="carousel-item" *ngFor="let imageCarasoule of properties.images; let i=index;"
                [ngClass]="{'active' : i==0}">
                <img class="d-block w-100" height=550 width=600
                  src="./assets/properties/{{imageCarasoule.imageName}}" alt="Second slide">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div> -->
        </div>
      </div>
    </div>
  </section>
  <!-- Hero Section End -->
  <!--details properties start -->
  <section class="property-details-section col-md-4" style="box-shadow: 1px 12px 19px 1px;margin-left: 2%; ">
    <div class="container">
      <div class="row">
        <div class="col-12" style="padding-bottom: 5%;">
          <table class="propertyInfo">
            <tr class="propertyInfo">
              <td class="propertyInfo">
                <p><img height="50" width="50"
                    src="./assets/img/icons/property.png">{{properties.property_type | uppercase}}</p>
              </td>
              <td class="propertyInfo">
                <p><img height="50" width="50" src="./assets/img/icons/bedroom.jpg">{{properties.bedroom}} Bedroom</p>
              </td>
            </tr>
            <tr class="propertyInfo">
              <td class="propertyInfo propertyInfoBreak">
                <p><img height="50" width="50" src="./assets/img/icons/family.png">{{properties.allowed}}</p>
              </td>
              <td class="propertyInfo">
                <p><img height="50" width="50" src="./assets/img/icons/area.png">{{properties.area}} sqft</p>
              </td>
            </tr>
            <tr class="propertyInfo">
              <td class="propertyInfo">
                <p><img height="50" width="50" src="./assets/img/icons/parking.png">{{properties.parking | uppercase}}
                  Parking</p>
              </td>
              <td class="propertyInfo">
                <p><img height="50" width="50" src="./assets/img/icons/money.png"> &nbsp; {{properties.price}} &nbsp;
                  Monthly Rental</p>
              </td>
            </tr>
            <tr class="propertyInfo">
              <td class="propertyInfo">
                <p><img height="50" width="50" src="./assets/img/icons/maintainance.jpg"> &nbsp;
                  {{properties.maintainance | uppercase}}
                  &nbsp; Maintainance</p>
              </td>
              <td class="propertyInfo">
                <p><img height="50" width="50" src="./assets/img/icons/SECURITY.png"> &nbsp;
                  {{properties.security | uppercase}} &nbsp; Security</p>
              </td>
            </tr>
          </table>
        </div>
        <div class="col-xs-4 col-md-4 alignButton">
          <button style="font-size:12px;" type="submit" class="btn btn-success"
            (click)="modelClick('contact','')">Contact for rental</button>
        </div>
        <div class="col-xs-4 col-md-4">
          <button type="submit" style="width: 100%;
          height: 100%;background: none;
    color: green;font-size:12px;" class="btn btn-success" (click)="modelClick('sortlist','')">Sortlist</button>
        </div>
        <div class="col-xs-4 col-md-4">
          <button style="font-size:12px; height:100%;" type="submit" class="btn btn-success"
            (click)="modelClick1(properties.id)">Fix
            Appointment</button>
        </div>
      </div>
    </div>
  </section>
  <section class="property-details-section col-md-12" style="padding: 5%">
    <div class="">
      <div class="row">
        <div class="col-lg-8">
          <div class="pd-details-text">
            <div class="col-md-12" style="box-shadow: 1px 12px 19px 1px;padding: 4%;margin-bottom: 5%;">
              <h4 style="margin-bottom: 4%;">Overview</h4>
              <table style="width: 100%;">
                <tr>
                  <td class="overviewTable">
                    <p><img style="margin-right: 2%;" height="50" width="50"
                        src="./assets/img/icons/furnished.png">{{properties.furnish | uppercase}}</p>
                  </td>
                  <td class="overviewTable">
                    <p><img style="margin-right: 2%;" height="50" width="50"
                        src="./assets/img/icons/bedroom.png">{{properties.bedroom}} Bedroom
                    </p>
                  </td>
                </tr>
                <tr>
                  <td class="overviewTable">
                    <p><img style="margin-right: 2%;" height="50" width="50"
                        src="./assets/img/icons/bathroom.png">{{properties.washroom}}
                      Washroom</p>
                  </td>
                  <td class="overviewTable">
                    <p><img style="margin-right: 2%;" height="50" width="50"
                        src="./assets/img/icons/area.png">{{properties.area}} sqft</p>
                  </td>
                </tr>
                <tr>
                  <td class="overviewTable">
                    <p><img style="margin-right: 2%;" height="50" width="50"
                        src="./assets/img/icons/parking.png">{{properties.parking | uppercase}}
                      Parking</p>
                  </td>
                  <td class="overviewTable">
                    <p><img style="margin-right: 2%;" height="50" width="50"
                        src="./assets/img/icons/property.png">{{properties.property_type | uppercase}}</p>
                  </td>
                </tr>
              </table>
            </div>
            <div class="col-md-12" style="box-shadow: 1px 12px 19px 1px;padding: 4%;margin-bottom: 5%;">
              <h4 style="margin-bottom: 4%;">Description</h4>
              <div style="width: 100%;">
                {{properties.description}}
              </div>
            </div>
            <div class="col-md-12" style="box-shadow: 1px 12px 19px 1px;padding: 4%;margin-bottom: 5%;">
              <h4 style="margin-bottom: 4%;">Amenities</h4>
              <div class="row" style="width: 100%;">
                <div class="col-md-6" style="margin-bottom: 3%;"
                  *ngFor="let amenities of propertyAmenities;  let i = index">
                  <img height="50" width="50" src="./assets/img/icons/{{amenities | uppercase}}.png">&nbsp;&nbsp;
                  {{amenities | uppercase}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 alignmentDiv" style="box-shadow: 1px 12px 19px 1px; margin-bottom: 5%;">
          <div class="row">
            <div class="col-md-12" style="padding: 4%;margin-bottom: 5%;">
              <h4 style="margin-bottom: 4%;">Similar Properties</h4>

              <div class="property-list">
                <div class="single-property-item" *ngFor="let propertySimilar of similarProperties;  let i = index">
                  <div *ngIf="propertySimilar.id!=properties.id" class="row propertyList">
                    <div class="col-md-12">
                      <div style="font-size: 10px;
                        padding-bottom: 2%;
                        font-weight: bold;
                        border-bottom: 1px solid;
                        margin-bottom: 2%;" class="properties-location"><i class="icon_pin"></i>
                        {{propertySimilar.name}} For Rent In {{propertySimilar.locality}}
                        <a style="font-size: 10px;float: right;color: #218838;;
                          cursor: pointer;" (click)="showPropertyDetails(propertySimilar.id)"> More details</a></div>
                    </div>
                    <div class="col-md-4">
                      <div id="{{'carouselExampleIndicators'+propertySimilar.id}}" class="carousel slide"
                        data-ride="carousel">
                        <div class="carousel-inner">
                          <div class="carousel-item" *ngFor="let imageCarasoule of propertySimilar.images; let i=index;"
                            [ngClass]="{'active' : i==0}">
                            <img width="300" height="150" class="d-block w-100"
                              src="./assets/properties/{{imageCarasoule.imageName}}" alt="Second slide">
                          </div>
                        </div>
                        <a class="carousel-control-prev" href="{{'#carouselExampleIndicators'+propertySimilar.id}}"
                          role="button" data-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="{{'#carouselExampleIndicators'+propertySimilar.id}}"
                          role="button" data-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="sr-only">Next</span>
                        </a>
                      </div>
                      <!-- <div class="property-pic"><i class="fa fa-arrow-left" aria-hidden="true"></i>
      
                        <img src="{{property.frontImage}}" alt=""><i class="fa fa-arrow-right" aria-hidden="true"></i>
      
                      </div> -->
                    </div>
                    <div class="col-md-8">
                      <div class="property-text">
                        <div class="s-text" style="background: #218838;">Available</div>
                        <div class="room-price">
                          <span style="font-size: 10px;">Property Id: {{propertySimilar.id}}</span>
                          <br>
                          <span style="font-size: 10px;">Monthly Rental</span>
                          <h5 style="font-size: 14px;color: #218838;">{{propertySimilar.price}}/month</h5>
                        </div>

                        <!-- <div class="properties-location">Owner: {{property.ownerName}}</div>
                          <div>Phone: {{property.phoneNumber}}<a (click)="modelClick()" class="phoneNumberAnchor"> (View)</a>
                          </div> -->
                        <!-- <br> -->
                        <ul class="room-features">
                          <li style="font-size: 10px;">
                            <i style="color: purple;font-size: 10px;" class="fa fa-arrows"></i>
                            <p>{{propertySimilar.area}} sqft</p>
                          </li>
                          <li style="font-size: 10px;">
                            <i style="color: purple;font-size: 10px;" class="fa fa-bed"></i>
                            <p>{{propertySimilar.bedroom}} Bed Room</p>
                          </li>
                          <li style="font-size: 10px;">
                            <i style="color: purple;font-size: 10px;" class="fa fa-bath"></i>
                            <p>{{propertySimilar.washroom}} Washroom</p>
                          </li>
                          <li style="font-size: 10px;" *ngIf="propertySimilar.parking">
                            <i style="color: purple;font-size: 10px;" class="fa fa-car"></i>
                            <p>{{propertySimilar.parking}} Parking</p>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <hr>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="myModal" class="{{modelClass}}">
      <!-- Modal content -->
      <div class="modal-content">
        <span class="close" (click)="closeModal()">
          <input type="image" height="30" width="30" (click)="closeModal()" src="./assets/img/icons/close.png">

        </span>
        <h3 *ngIf="thanksFlag" style="text-align: center;">Thanks for choosing us</h3>
        <hr *ngIf="thanksFlag">
        <p style="text-align: center;">{{message}}</p>
      </div>
    </div>

    <div id="myModal5" class="{{modelClass5}}">
      <!-- Modal content -->
      <div class="modal-content5">
        <div class="spinner-border"></div>
      </div>
    </div>
    <div id="myModal3" class="{{modelClass3}}">
      <!-- Modal content -->
      <div class="modal-content3">
        <div>
          <span class="close1" (click)="closeModal3()">
            <input type="image" height="30" width="30" (click)="closeModal3()" src="./assets/img/icons/close.png">

          </span>
          <userLogin style="padding-bottom: 2%" [redirect]="false" (loginDetails)="loginDetailsReceived($event)">
          </userLogin>
        </div>
      </div>
    </div>

    <div id="myModal1" class="{{modelClass1}}">
      <div class="modal-content1">
        <span class="close" (click)="closeModal1()">
          <input type="image" height="30" width="30" (click)="closeModal1()" src="./assets/img/icons/close.png">
        </span>
        <!-- <div class="container">
      <div class="row">
        <div class="col-md-12 col-xs-12	col-sm-12">
          <p style="font-size: 10px;">Date</p>
          <div class="row">
            <div class="col-xs-4 col-md-2" style="font-size: 10px; padding-bottom: 2%;"><button
                (click)="dateSelected('today')" style="font-size: 10px;" class="btn btn-info">Today</button></div>
            <div class="col-xs-4 col-md-2" style="font-size: 10px;"><button (click)="dateSelected('tomorrow')"
                style="font-size: 10px;" class="btn btn-info">Tomorrow</button></div>
            <div class="col-xs-4 col-md-2"></div>
            <div class="col-xs-6 col-md-6" style="z-index: 1000;font-size: 10px;">
              <ng-datepicker style="z-index: 1000;" [options]="options" (onChange)="dateHandler($event)"
                [(ngModel)]="date"></ng-datepicker>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <p style="font-size: 10px;">Time</p>

        <div class="col-md-12 innerBorder">
          <div class="row">
            <div class="col-md-12" style="border-bottom: 1px solid;">
              <div class="row">
                <div class="col-xs-4 col-md-4" style="font-size: 10px;padding-left: 11%;">Morning</div>
                <div class="col-xs-4 col-md-4" style="font-size: 10px;padding-left: 10%;">Afternoon</div>
                <div class="col-xs-4 col-md-4" style="font-size: 10px;padding-left: 7%;">Evening</div>
              </div>
            </div>
          </div>
          <div class="col-md-12 ">
            <div class="row">
              <div class="col-xs-4 col-md-4"><button (click)="selectTime('08AM-10AM')" style="font-size: 10px;    margin-top: 5px;
                      margin-bottom: 5px;" class="btn btn-info">08AM-10AM</button></div>
              <div class="col-xs-4 col-md-4"><button (click)="selectTime('12PM-02PM')" style="font-size: 10px;    margin-top: 5px;
                      margin-bottom: 5px;" class="btn btn-info">12PM-02PM</button></div>
              <div class="col-xs-4 col-md-4"><button (click)="selectTime('04PM-06PM')" style="font-size: 10px;    margin-top: 5px;
                      margin-bottom: 5px;" class="btn btn-success">04PM-06PM</button></div>
              <br>
              <div class="col-xs-4 col-md-4"><button (click)="selectTime('10AM-12PM')" style="font-size: 10px;    margin-top: 5px;
                      margin-bottom: 5px;" class="btn btn-info">10AM-12PM</button></div>
              <div class="col-xs-4 col-md-4"><button (click)="selectTime('02PM-04PM')" style="font-size: 10px;    margin-top: 5px;
                      margin-bottom: 5px;" class="btn btn-info">02PM-04PM</button></div>
              <div class="col-xs-4 col-md-4"><button (click)="selectTime('06PM-08PM')" style="font-size: 10px;    margin-top: 5px;
                      margin-bottom: 5px;" class="btn btn-success">06PM-08PM</button></div>
            </div>
          </div>
        </div>
        <p style="font-size: 10px;">User Details</p>
        <div class="row" style="margin-bottom: 2%;">
          <div style="font-size: 10px;" class="col-md-6">
            <select style="font-size: 10px;" (change)="empTypeSelected($event.target.value)" class="form-control"
              id="employmentType">
              <option value="" selected disabled>Employment type</option>
              <option value="working">Working</option>
              <option value="business">Business</option>
            </select>
          </div>
          <div style="font-size: 10px;" class="col-md-6">
            <select style="font-size: 10px;" (change)="docTypeSelected($event.target.value)" class="form-control"
              id="docType">
              <option value="" selected disabled>Document Type</option>
              <option value="poi">POI</option>
              <option value="emp">Employment Proof</option>
            </select></div>
          <div style="font-size: 10px;" class="col-md-6" style="padding-top: 2%;">
            <input style="font-size: 10px;" type="file" (change)="fileuploaded($event)">
          </div>
        </div>
        <div class="col-md-12 ">
          <div class="row">
            <div class="col-md-12">
              <p *ngIf="appointmentSchedule" style="text-align: center; font-size: 13px;">{{appointmentSchedule}}
              </p>
              <button (click)="scheduleAppointment()" style="font-size: 10px;    width: 100%; margin-top: 5px;
                        margin-bottom: 25px;" class="btn btn-success">Schedule Visit</button>
            </div>
          </div>
        </div>
      </div>
    </div> -->
        <appointment style="padding-bottom: 2%" [propertyId]="properties.id"
          (loginDetails)="loginDetailsReceived($event)">
        </appointment>
      </div>
    </div>
  </section>
</div>
<!--details properties end-->
<footer></footer>