<!-- Offcanvas Menu Section Begin -->
<!-- <div class="offcanvas-menu-overlay"></div>
<div class="canvas-open" (click)="showMenu(showMenuBar)">
  <i class="icon_menu"></i>
</div> -->
<!-- Offcanvas Menu Section End -->

<!-- Header Section Begin -->
<header class="header-section">
  <div class="top-nav {{showMenuBar}}">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 logo">
          <img width="500" height="50" src="./assets/img/logo.jpeg" alt="">
        </div>
        <div class="col-lg-9">
          <nav class="main-menu">
            <ul>
              <li (click)="navigateTo('main')" style="color:black; cursor: pointer;font-size: 12px;"><a
                  style="color: black;">Home</a></li>
              <li (click)="navigateTo('properties_registration')" style="color:black; cursor: pointer;font-size: 12px;">
                <a style="padding: 8%;
                  width: 117%;color: white; background: purple">Free property
                  Listing</a></li>
              <li><a style="color:black;cursor: pointer;font-size: 12px;" class="signupLogin"> {{loginMessage}}</a>
                <div *ngIf="isLogin==false" class="menu3">
                  <p (click)="navigateTo('login')" style="cursor: pointer;" class="menuItems3"><i
                      class="fa fa-sign-in"></i> Login</p>
                  <p (click)="navigateTo('registration')" style="cursor: pointer;" class="menuItems3"><i
                      class="fa fa-user-plus"></i> SignUp</p>
                </div>
                <div *ngIf="isLogin==true" class="menu3">
                  <p (click)="navigateTo('profile')" style="cursor: pointer;" class="menuItems3"><i
                      class="fa fa-user-plus"></i> Profile</p>
                  <p (click)="logout()" style="cursor: pointer;" class="menuItems3"><i class="fa fa-sign-out"></i>
                    Logout</p>
                </div>
              </li>
            </ul>
          </nav>
          <!-- <div class="top-right">
                <div class="language-option">
                  <img src="./assets/flag.png" alt="">
                  <span *ngIf="registerMessage">{{registerMessage}}</span>
                  <span *ngIf="!registerMessage">Login/Sign Up</span>
                  <i class="fa fa-angle-down"></i>
                  <div class="flag-dropdown">
                    <ul *ngIf="!registerMessage">
                      <li><a (click)="login()">Login</a></li>
                      <li><a (click)="signup()">Sign Up</a></li>
                    </ul>
                    <ul *ngIf="registerMessage">
                      <li><a>{{registerMessage}}</a></li>
                      <li><a (click)="logout()">Logout</a></li>
                      <li><a>Setting</a></li>
                    </ul>
                  </div>
                </div>
                <a href="#" class="property-sub">Submit Property</a>
              </div> -->
        </div>
        <div class="col-lg-1">
          <i style="font-size: 50px;float: right;    margin-left: 77%;
            margin-top: 4%;
            position: absolute;
            z-index: 10000;" class="icon_menu"></i>

          <div class="showMenu" style="    height: 500px;
          overflow-y: scroll;background: darkred;    position: absolute;
          z-index: 1000;">
            <br>
            <br>
            <div (click)="navigateTo('main')" class="slideMenu">Home</div>
            <div (click)="navigateTo('properties_registration')" class="slideMenu">Free property Listing</div>
            <div (click)="modelClick4('owner')" class="slideMenu">Owner Plan</div>
            <div (click)="modelClick4('tenant')" class="slideMenu">Tenants Plan</div>
            <div (click)="navigateTo('sortlisted')" class="slideMenu">Shortlisted Properties</div>
            <div (click)="navigateTo('tenantRequirements')" class="slideMenu">Match requirements</div>
            <div (click)="navigateTo('manage')" class="slideMenu">Manage Properties</div>
            <div (click)="navigateTo('properties_registration')" class="slideMenu">List properties</div>
            <div *ngIf="isLogin==false" (click)="navigateTo('login')" class="slideMenu">Login</div>
            <div *ngIf="isLogin==true" (click)="navigateTo('profile')" class="slideMenu ">Profile </div>
            <div *ngIf="isLogin==true" (click)="logout()" class="slideMenu ">Logout</div>
            <div  class="slideMenu">Contact us
                <div >
                    <p style="cursor: pointer;" class="menuItems4">+91 9109769242</p>
                    <p style="cursor: pointer;" class="menuItems4">
                      support@ownertenants.com</p>
                  </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div *ngIf="showMain" class="nav-logo">
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="logo" style="padding: 10px 0;">
            <a href="./index.html"><img src="./assets/img/logo.jpg" alt="" style="max-width: 45%;"></a>
          </div>
        </div>
        <div class="col-lg-9">
          <div class="nav-logo-right">
            <ul>
              <li>
                <i class="icon_phone" style="width: 40px;"></i>
                <div class="info-text">
                  <span>Phone:</span>
                  <p>(+91) 9109769242</p>
                </div>
              </li>
              <li>
                <i class="icon_map" style="width: 40px;"></i>
                <div class="info-text">
                  <span>Address:</span>
                  <p>AB Road Bypass, <span>Indore</span></p>
                </div>
              </li>
              <li>
                <i class="icon_mail" style="width: 40px;"></i>
                <div class="info-text">
                  <span>Email:</span>
                  <p>support@ownertenants.com</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</header>
<!-- Header End -->

<div id="myModal4" class="{{modelClass4}}">
  <!-- Modal content -->
  <div class="modal-content4">
    <span class="close" (click)="closeModal4()">
      <input type="image" height="30" width="30" (click)="closeModal4()" src="./assets/img/icons/close.png">
    </span>
    <div *ngIf="modelType=='owner'" class="container">
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">
                Standard</h3>
            </div>
            <div class="panel-body">
              <div class="the-price">
                <h1>₹ 999</h1>
              </div>
              <table class="table">
                <tr>
                  <td>
                    Dedicated Relationship Manager
                  </td>
                </tr>
                <tr class="active">
                  <td>
                    Tenant Search
                  </td>
                </tr>
                <tr>
                  <td>
                    Online tenant verification
                  </td>
                </tr>
                <tr class="active">
                  <td>
                    Appointment for site visit
                  </td>
                </tr>
                <tr>
                  <td>
                    Number privacy
                  </td>
                </tr>
                <tr class="active">
                  <td>
                    NA
                  </td>
                </tr>
                <tr class="active">
                  <td>
                    NA
                  </td>
                </tr>
                <tr class="active">
                  <td>
                    NA
                  </td>
                </tr>
                <tr class="active">
                  <td>
                    NA
                  </td>
                </tr>
                <tr class="active">
                  <td>
                    Validity : 90 days
                  </td>
                </tr>
              </table>
            </div>
            <div class="panel-footer">
              <a class="btn btn-success" (click)="subscribe('owner','standard',999)" role="button">Subscribe</a>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-6 popularPlan">
          <div class="panel panel-success">
            <div class="cnrflash">
              <div class="cnrflash-inner">
                <span class="cnrflash-label">MOST
                  <br>
                  POPULR</span>
              </div>
            </div>
            <div class="panel-heading">
              <h3 class="panel-title">
                Exclusive</h3>
            </div>
            <div class="panel-body">
              <div class="the-price">
                <h1>₹ 3999</h1>
              </div>
              <table class="table">
                <tr>
                  <td>
                    Dedicated Relationship Manager
                  </td>
                </tr>
                <tr class="active">
                  <td>
                    Tenant Search
                  </td>
                </tr>
                <tr>
                  <td>
                    Online tenant verification
                  </td>
                </tr>
                <tr class="active">
                  <td>
                    Appointment for site visit
                  </td>
                </tr>
                <tr>
                  <td>
                    Number privacy
                  </td>
                </tr>
                <tr class="active">
                  <td>
                    Rent Negotiation
                  </td>
                </tr>
                <tr class="active">
                  <td>
                    House visit assistance
                  </td>
                </tr>
                <tr class="active">
                  <td>
                    Rental aggrement Assistance
                  </td>
                </tr>
                <tr class="active">
                  <td>
                    Photo shoot Assistance
                  </td>
                </tr>
                <tr class="active">
                  <td>
                    Validity : 90 days
                  </td>
                </tr>
              </table>
            </div>
            <div class="panel-footer">
              <a class="btn btn-success" (click)="subscribe('owner','execlusive',3999)" role="button">Subscribe</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="modelType=='tenant'" class="container">
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">
                Standard</h3>
            </div>
            <div class="panel-body">
              <div class="the-price">
                <h1>₹ 999</h1>
              </div>
              <table class="table">
                <tr>
                  <td>
                    Dedicated Relationship Manager
                  </td>
                </tr>
                <tr class="active">
                  <td>
                    House Rental Search
                  </td>
                </tr>
                <tr>
                  <td>
                    Online house verification
                  </td>
                </tr>
                <tr class="active">
                  <td>
                    Appointment for site visit
                  </td>
                </tr>
                <tr>
                  <td>
                    Number privacy
                  </td>
                </tr>
                <tr class="active">
                  <td>
                    Rent Negotiation
                  </td>
                </tr>
                <tr class="active">
                  <td>
                    NA
                  </td>
                </tr>
                <tr class="active">
                  <td>
                    NA
                  </td>
                </tr>
                <tr class="active">
                  <td>
                    Validity: 90 days
                  </td>
                </tr>
              </table>
            </div>
            <div class="panel-footer">
              <a class="btn btn-success" (click)="subscribe('tenant','standard',999)" role="button">Subscribe</a>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-6  popularPlan">
          <div class="panel panel-success">
            <div class="cnrflash">
              <div class="cnrflash-inner">
                <span class="cnrflash-label">MOST
                  <br>
                  POPULR</span>
              </div>
            </div>
            <div class="panel-heading">
              <h3 class="panel-title">
                Execlusive</h3>
            </div>
            <div class="panel-body">
              <div class="the-price">
                <h1>₹ 2999</h1>
              </div>
              <table class="table">
                <tr>
                  <td>
                    Dedicated Relationship Manager
                  </td>
                </tr>
                <tr class="active">
                  <td>
                    House Rental Search
                  </td>
                </tr>
                <tr>
                  <td>
                    Online house verification
                  </td>
                </tr>
                <tr class="active">
                  <td>
                    Appointment for site visit
                  </td>
                </tr>
                <tr>
                  <td>
                    Number privacy
                  </td>
                </tr>
                <tr class="active">
                  <td>
                    Rent Negotiation
                  </td>
                </tr>
                <tr class="active">
                  <td>
                    House visit assistance
                  </td>
                </tr>
                <tr class="active">
                  <td>
                    Rental aggrement Assistance
                  </td>
                </tr>
                <tr class="active">
                  <td>
                    Validity : 90 days
                  </td>
                </tr>
              </table>
            </div>
            <div class="panel-footer">
              <a class="btn btn-success" (click)="subscribe('tenant','execlusive',2999)" role="button">Subscribe</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
